@use '../../../../style/mixins';

@include mixins.isDesktop() {
  .navigation {
    --moveX: 200px;

    padding: var(--distance-2) 0 var(--distance-7);
    transform-origin: bottom right;
    transform: rotate(-10deg) translateX(var(--moveX));
    border: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
    box-shadow: var(--shadow-big);
    border-radius: var(--radius-3);
  }
  .entry {
    rotate: 20deg;

    &.header,
    &.language {
      padding-left: var(--distance-6);
    }

    &.language {
      max-width: 250px;
    }
  }

  a.entry {
    grid-template-columns: auto 1fr;
    translate: -40px -10px;

    ng-icon {
      width: 30px;
      height: 30px;
    }

    &.big {
      font-size: var(--font-size-2);
      ng-icon {
        padding: var(--distance-3);
      }
    }
    &.small {
      ng-icon {
        padding: var(--distance-1);
      }
    }

    &:hover:not(.active) {
      translate: -50px -14px;
    }

    &.active {
      margin-right: 0px;
      padding-right: var(--moveX);
    }
  }

  // animations
  .main-enter {
    animation: main-enter var(--duration-2) var(--soft-ease);
  }

  .main-leave {
    animation: main-leave var(--duration-0) ease-out;
  }

  @keyframes main-enter {
    from {
      opacity: 0;
      translate: 100px 15px;
    }
  }

  @keyframes main-leave {
    to {
      opacity: 0;
      translate: 50px 7px;
    }
  }
}
