<button
  (click)="toggle()"
  class="toggle"
  [class.open]="isOpen()"
  [class.dim]="isOnDimmablePage() && !isOpen()"
>
  <ng-icon name="remixMenuUnfold2Line" />
</button>

@if (isOpen()) {
  <nav class="navigation" animate.enter="main-enter" animate.leave="main-leave">
    <div class="entry header">{{ appName }}</div>
    <div class="entry language ellipsis">
      <span class="ellipsis">
        {{ language().learning }}
      </span>
      <ng-icon name="remixArrowLeftRightLine" />
      <span class="ellipsis">
        {{ language().speaking }}
      </span>
    </div>
    <a
      routerLink="/"
      class="entry big"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <ng-icon name="remixBookMarkedFill" />
      <span>Home</span>
    </a>
    <a class="entry big" routerLink="practice" routerLinkActive="active">
      <ng-icon name="remixBug2Fill" />

      <span>
        <span> Practice </span>
        @if (hasActivePractice()) {
          <span>•</span>
        }
      </span>
    </a>
    <a class="entry big" routerLink="translate" routerLinkActive="active">
      <ng-icon name="remixTranslate" />

      <span>Translate</span>
    </a>

    <a routerLink="settings" class="entry small" routerLinkActive="active">
      <ng-icon name="remixSettings3Fill" />
      <span>Settings</span>
    </a>
    <a routerLink="about" class="entry small" routerLinkActive="active">
      <ng-icon name="remixInformationFill" />

      <span>About</span>
    </a>
  </nav>
}
