<button
  (click)="toggle()"
  class="toggle"
  [class.open]="isOpen()"
  [class.dim]="isOnPracticePage() && hasActivePractice() && !isOpen()"
>
  <app-icon-comp type="menu" />
</button>

@if (isOpen()) {
<div class="navigation" animate.enter="main-enter" animate.leave="main-leave">
  <div class="entry header">learn with me</div>
  <div class="entry language ellipsis">
    <span class="ellipsis">
      {{ language().learning }}
    </span>
    <app-icon-comp type="left-right" [size]="16" />
    <span class="ellipsis">
      {{ language().speaking }}
    </span>
  </div>
  <a class="entry big practice" routerLink="practice" routerLinkActive="active">
    <app-icon-comp type="learn" />
    <span>
      <span> Practice </span>
      @if (hasActivePractice()) {
      <span class="indicator">•</span>
      }
    </span>
  </a>
  <a routerLink="cards" class="entry big" routerLinkActive="active">
    <app-icon-comp type="card" />
    <span>Cards</span>
  </a>
  <a routerLink="community" class="entry big share" routerLinkActive="active">
    <app-icon-comp type="share-network-fill" />
    <span>Community</span>
  </a>
  <a routerLink="settings" class="entry small" routerLinkActive="active">
    <app-icon-comp type="settings" />
    <span>Settings</span>
  </a>
  <a routerLink="about" class="entry small about" routerLinkActive="active">
    <app-icon-comp type="info" />
    <span>About</span>
  </a>
</div>
}
