.larry-line {
  display: grid;
  .separator,
  app-larry-big {
    grid-area: 1/1;
  }

  .separator {
    width: 200px;
    display: block;
  }
  app-larry-big {
    color: var(--col-primary);
    height: 100px;
    rotate: -60deg;
  }
}
