:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: var(--distance-2) 0;

  .header {
    grid-column: span 2;
    display: flex;

    gap: var(--distance-4);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);

    .name {
      margin-right: auto;
    }
  }

  .info {
    grid-column: span 2;

    &.languages {
      display: flex;
      align-items: center;
      align-self: start;
      gap: var(--distance-1);
    }
  }

  .copy {
    opacity: var(--opacity-1);
  }

  .copy,
  .import {
    align-self: start;
  }

  .shared,
  .ttl,
  .info {
    z-index: 1;
    opacity: var(--opacity-1);
  }
  .ttl {
    place-self: end;
  }

  &.community {
    height: 200px;
  }
}
