<div class="header">
  <div class="name">{{ bank().name }}</div>
  @if (!ttl().isExpired) {
    <button class="silent copy" (click)="copyId.emit()">
      <app-icon-comp type="copy" />
    </button>

    @if (isCommunityBank()) {
      <button class="silent import" (click)="importBank.emit()">
        <app-icon-comp type="add" />
      </button>
    }
  }
</div>

<p class="info languages size-0">
  <span>
    {{ bank().language.learning }}
  </span>
  <app-icon-comp type="left-right" [size]="16" />
  <span> {{ bank().language.speaking }} </span>
</p>

<p class="shared size-0">{{ bank().createdAt | date: 'mediumDate' }}</p>
<p class="ttl size-0">{{ ttl().label }}</p>
