:host {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: var(--distance-2) 0;

  .header {
    grid-column: span 2;

    .name {
      margin-right: auto;
    }
  }
  .wide {
    grid-column: span 2;
  }
  .info {
    grid-column: span 2;
    opacity: var(--opacity-1);
  }

  .copy {
    opacity: var(--opacity-1);
  }

  .copy,
  .import {
    align-self: start;
  }

  .shared,
  .ttl,
  .info {
    z-index: 1;
    opacity: var(--opacity-1);
  }
  .ttl {
    place-self: end;
  }
  .count-wrapper {
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
