@use './style/theme';
@use './style/reusable';
@use './style/animations';
@use './style/typography';
@use './style/scroll-lists';
@use './style/responsive';
@use './style/layout';

html {
  background-color: var(--col-bg);
  overflow: hidden;
}

body {
  margin: 0;
}

button,
a {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

textarea,
input,
select {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

button {
  transition-property:
    background-color, opacity, outline, color, box-shadow, padding, rotate, border;
  transition-duration: var(--duration-0);
  transition-timing-function: ease-out;

  &.small {
    border-radius: var(--radius-1);
    padding: var(--distance-1) var(--distance-4);
    font-size: var(--font-size-0);
    line-height: var(--line-height-0);
    font-weight: var(--font-weight-bold);
    background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
  }

  &.big {
    border-radius: var(--radius-1);
    background-color: var(--col-accent);
    font-size: var(--font-size-1);
    padding: var(--distance-3) var(--distance-5);
    font-weight: var(--font-weight-bold);
  }

  &.has-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--distance-2);
  }

  &[type='submit'] {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-1);
    padding: var(--distance-3) var(--distance-5);
    background-color: var(--col-primary);
    color: var(--col-bg);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-small);
  }
  &[disabled] {
    box-shadow: none;
  }
}

[disabled] {
  opacity: var(--opacity-1);
  cursor: not-allowed;
  box-shadow: none;
  user-select: none;
}

a[download] {
  text-align: center;
  padding: var(--distance-3) var(--distance-5);
}

input,
textarea,
select {
  background-color: var(--col-accent);
  color: var(--col-text);
  border-radius: var(--radius-1);
  border: none;
  &::placeholder {
    color: rgb(from var(--col-text) r g b / var(--opacity-1));
  }
}

button,
select {
  &.silent {
    border-radius: var(--radius-1);
    font-size: inherit;
    text-align: inherit;
    margin: 0;
    padding: 0;
  }
}

* {
  outline: 0px solid transparent;
  transition: outline var(--duration-0);

  &:focus-visible {
    outline: 4px solid rgb(from var(--col-accent) r g b / var(--opacity-1));
  }
}

label {
  display: grid;
  grid-template-columns: 1fr;
  span {
    opacity: var(--opacity-1);
    padding: 0 0 var(--distance-1) var(--distance-2);
    font-size: var(--font-size-0);
  }
}

input,
select {
  padding: var(--distance-3) var(--distance-4);
}
