@if (vm(); as vm) {
  @for (cardVM of vm.cardVMs; track cardVM.card.id) {
    <div class="card" [attr.guess]="cardVM.guess" [attr.offset-to-active]="cardVM.offsetToActive">
      @if (vm.guessableField === 'translation') {
        <p class="bold size-3">
          {{ cardVM.card.lexeme }}
        </p>
        <p class="italic size-3">
          {{ cardVM.card.translation }}
        </p>
      } @else {
        <p class="italic size-3">
          {{ cardVM.card.translation }}
        </p>
        <p class="size-2 light pt-4">
          {{ cardVM.card.lexeme }}
        </p>
      }
      <p class="size-2 light pt-4">
        {{ cardVM.card.notes }}
      </p>
    </div>
  }
  <div
    class="card larry"
    guess="unanswered"
    [attr.offset-to-active]="vm.guessableIndex - vm.cardVMs.length"
  >
    <app-larry-big />
  </div>

  <ng-icon [svg]="icons.incorrectAnswerIcon" class="vote wrong" />
  <ng-icon [svg]="icons.correctAnswerIcon" class="vote right" />
  @if (guessState() === 'done') {
    <ng-container lizAnimDelayWrapper applyClass="pop-in">
      <liz-swiper-summary #animItem [summary]="vm.summary" />

      <!-- show 'continue to improve this rating, only x unanswered and y wrong left!' -->
      <div class="nav finalize continue" #animItem>
        <button class="big" (click)="finish()" #animItem>Finish</button>
        @if (vm.summary.rating !== 'excellent') {
          <button class="big primary has-icon" #animItem>
            Continue <ng-icon [svg]="icons.practiceSpeedIcon" />
          </button>
        }
      </div>
    </ng-container>
  } @else {
    <div class="nav ongoing" [class.open]="navOpen()">
      <button class="silent collapse" (click)="navOpen.update((v) => !v)">
        <ng-icon [svg]="icons.collapseIcon" />
      </button>
      <div class="wrapper">
        <button class="big warning" (click)="giveUp()" [disabled]="!navOpen()">Give up</button>
        <button class="big" (click)="edit()" [disabled]="!navOpen()">Edit</button>
      </div>
    </div>
  }
}
