@if (vm(); as vm) {
  @for (cardVM of vm.cardVMs; track cardVM.card.id) {
    <div
      class="card"
      [attr.card-index]="cardVM.index"
      [attr.card-state]="cardVM.state"
      [style.--x.px]="cardVM.position.x"
      [style.--y.px]="cardVM.position.y"
      [style.--rotate.deg]="cardVM.position.rotate"
    >
      <p class="bold size-3">
        {{ cardVM.card.lexeme }}
      </p>
      <p class="italic size-3">
        {{ cardVM.card.translation }}
      </p>
    </div>
  }

  <ng-icon [svg]="icons.incorrectAnswerIcon" class="wrong" />
  <ng-icon [svg]="icons.correctAnswerIcon" class="right" />
  @if (guessState() === 'done') {
    <liz-swiper-summary />

    <!-- show 'continue to improve this rating, only x unanswered and y wrong left!' -->
    <div class="finalize-nav">
      <button class="big">Finish</button>
      <button class="big primary">Continue</button>
    </div>
  }
}
<div class="debug">
  <div>{{ guessState() }} | {{ castedGuess() }}</div>
  <div>{{ hostDimension()?.height }}</div>
  <div class="flex">
    <button (click)="finish()">finish</button>
    <button (click)="giveUp()">give up</button>
  </div>
</div>
