@if (vm(); as vm) {
  @for (cardVM of vm.cardVMs; track cardVM.card.id) {
    <div
      class="card"
      [attr.guess]="cardVM.guess"
      [attr.card-offset-to-active]="cardVM.offsetToActive"
    >
      <p class="bold size-3">
        {{ cardVM.card.lexeme }}
      </p>
      <p class="italic size-3">
        {{ cardVM.card.translation }}
      </p>
    </div>
  }

  <ng-icon [svg]="icons.incorrectAnswerIcon" class="vote wrong" />
  <ng-icon [svg]="icons.correctAnswerIcon" class="vote right" />
  @if (guessState() === 'done') {
    <ng-container lizAnimDelayWrapper applyClass="pop-in">
      <liz-swiper-summary #animItem [summary]="vm.summary" />

      <!-- show 'continue to improve this rating, only x unanswered and y wrong left!' -->
      <div class="nav finalize continue" #animItem>
        <button class="big" (click)="finish()" #animItem>Finish</button>
        @if (vm.summary.rating !== 'excellent') {
          <button class="big primary has-icon" #animItem>
            Continue <ng-icon [svg]="icons.practiceSpeedIcon" />
          </button>
        }
      </div>
    </ng-container>
  } @else {
    <div class="debug">
      <div class="flex">
        <button (click)="finish()">finish</button>
        <button (click)="giveUp()">give up</button>
      </div>
    </div>
  }
}
