@let conf = config();

<form (ngSubmit)="confirm(form.value)" [formGroup]="form" liz-base-form header="Start new Practice">
  <div form-description>
    @if (conf.confidence; as confidence) {
      <liz-confidence-stats [confidence]="confidence" />
    }
  </div>

  <div form-content>
    @if (conf.hasActivePractice) {
      <liz-info-card class="mb-5" type="warn" title="Practice already in progress">
        <p>Starting a new one will end your current run.</p>
      </liz-info-card>
    }
    @if (conf.confidence; as confidence) {
      <liz-confidence-dots class="mb-3" [confidence]="conf.confidence" />
    }

    <app-radio-comp
      class="mt-3"
      label="Guess"
      formControlName="guessableField"
      [config]="[
        { value: 'translation', label: conf.languageConfig.speaking, icon: understandIcon },
        { value: 'lexeme', label: conf.languageConfig.learning, icon: speakingIcon }
      ]"
    />
  </div>
  <button type="button" (click)="cancel()" class="big">Cancel</button>
  <button type="submit">Start</button>
</form>
