form {
  grid-template-rows: 1fr auto;
}
.content {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  place-self: center;

  liz-confidence-stats {
    padding-top: var(--distance-4);
    opacity: var(--opacity-1);
  }
}
