@use '../../../../style/mixins.scss' as *;

:host {
  --accent: rgb(from var(--col-accent-2) r g b / var(--opacity-1));
}

.history {
  display: flex;
  flex-direction: column;
  gap: var(--distance-5);
  padding-bottom: 150px;

  strong {
    color: currentColor;
  }

  .day {
    display: flex;
    flex-direction: column;

    .header {
      display: inline-flex;
      align-items: center;
      gap: var(--distance-2);

      h2 {
        font-size: var(--font-size-1);
        line-height: var(--line-height-1);
      }

      ng-icon {
        display: block;
        font-size: var(--font-size-3);
        color: var(--col-accent-2);
        rotate: 180deg;
        translate: 0.5px 1px;
      }
    }

    .practices-wrapper {
      gap: var(--distance-4);
      border-left: 1px solid var(--accent);
      padding-left: calc(var(--font-size-3) / 2);
      margin-left: calc((var(--font-size-3) / 2) - 0.5px);
      border-radius: 0 0 0 var(--radius-2);
      padding-bottom: var(--distance-3);
      padding-top: var(--distance-3);

      .summary {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: var(--distance-2) var(--distance-2) var(--distance-4) var(--distance-2);
        border-radius: var(--radius-2);

        &.highlight {
          color: var(--col-bg);
          background-color: var(--col-accent-2);

          app-practice-rating-comp {
            filter: drop-shadow(5px 5px 9px rgb(from (var(--col-shadow) r g b / var(--opacity-1))));
          }
        }

        &:not(.highlight) {
          color: var(--col-text);
          background-color: var(--col-bg);
          border: 1px solid var(--accent);
        }
      }
    }
  }
}

.rating-summary-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--distance-4);
  padding: 0 var(--distance-4);
  margin-bottom: var(--distance-6);

  .rating-summary {
    text-align: center;
    flex: 1;
    border-radius: var(--radius-0);

    &.highlight {
      color: var(--col-accent-2);
    }
  }
}

app-practice-timeline {
  z-index: 10;
  width: 100%;
  padding: var(--distance-5);
  height: 180px;
  background: linear-gradient(0deg, var(--col-bg) 30%, transparent 100%);
  bottom: 0;
  left: 0;
  position: fixed;
  box-sizing: border-box;
}

@include isPhone {
  .header .stats {
    margin-left: auto;
  }

  .practices-wrapper {
    display: flex;
    overflow-x: auto;
    padding-right: var(--page-padding);
    margin-right: calc(-1 * var(--page-padding));

    .summary {
      flex: 0 0 150px;
    }
  }
}

@include isDesktop {
  .practices-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
