@use '../../../../style/mixins.scss' as *;

:host {
  --accent: rgb(from var(--col-accent-2) r g b / var(--opacity-1));
}

.history {
  gap: var(--distance-2);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  padding-bottom: 150px;

  strong {
    color: currentColor;
  }

  .day,
  .summary {
    border-radius: var(--radius-2);
    gap: var(--distance-0);
  }

  .day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--col-bg);
    padding: var(--distance-2);
    background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
  }

  .summary {
    font-size: var(--font-size-0);
    line-height: var(--line-height-0);
    display: grid;
    text-align: center;
    grid-template-rows: 1fr auto auto;
    padding: var(--distance-2) var(--distance-2) var(--distance-2) var(--distance-2);

    &.highlight {
      color: var(--col-bg);
      background-color: var(--col-accent-2);
      border: 1px solid var(--col-accent-2);

      app-practice-rating-comp {
        filter: drop-shadow(5px 5px 9px rgb(from (var(--col-shadow) r g b / var(--opacity-1))));
      }
    }

    &:not(.highlight) {
      background-color: rgb(from var(--col-accent-2) r g b / var(--opacity-0));
    }
  }
}

.rating-summary-wrapper {
  display: flex;
  justify-content: center;
  gap: var(--distance-4);
  padding: 0 var(--distance-4);
  margin-bottom: var(--distance-6);

  .rating-summary {
    text-align: center;
    flex: 0 1 150px;
    border-radius: var(--radius-0);

    &.highlight {
      color: var(--col-accent-2);
    }
    &.is-empty {
      opacity: var(--opacity-0);
    }
  }
}

app-practice-timeline {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 var(--page-padding) var(--page-padding) var(--page-padding);
  box-sizing: border-box;
  z-index: 20;
  height: 150px;

  &:after {
    position: fixed;
    background-color: black;
    height: 40px;
    width: 40px;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 220px;
    background:
      linear-gradient(0deg, var(--col-bg) 0%, transparent 90%),
      linear-gradient(0deg, var(--col-bg) 35%, transparent 100%);
    z-index: -1;
    pointer-events: none;
  }
}

@include isPhone {
  .history {
    .day {
      grid-column: 1;
    }
  }
}

@include isDesktop {
}
