<app-page-wrapper [icon]="icons.statsIcon">
  <app-page-header-comp title="Stats" backLink="/" backLinkText="Home" />

  <div class="rating-summary-wrapper">
    @for (entry of ratingSummary(); track entry.rating) {
      <div
        class="rating-summary"
        [class.highlight]="entry.rating === 'excellent'"
        [class.is-empty]="entry.count === 0"
      >
        <app-practice-rating-comp [rating]="entry.rating" />
        <p class="bold">{{ entry.count }}</p>
      </div>
    }
  </div>

  @if (practiceHistory().length === 0) {
    <liz-info-card fullPage title="You need to practice!">
      <p>Use this page to see your progress and consistency over time.</p>
    </liz-info-card>
  } @else {
    <app-practice-timeline
      [practiceHistory]="practiceHistory()"
      (selectDay)="scrollToDay($event)"
    />
    <div class="history">
      @for (entry of practiceHistoryDays(); track entry.day) {
        <div class="day" [id]="'day-' + entry.day">
          <p class="bold size-2">
            {{ entry.day | date: 'dd MMM' }}
          </p>
          <p class="size-0">
            {{ entry.summary.swipeCount }}
            swipes
          </p>
        </div>

        @for (summary of entry.detailedSummaries; track $index) {
          <div class="summary" [class.highlight]="summary.rating === 'excellent'">
            <app-practice-rating-comp [rating]="summary.rating" />
            <liz-practice-stats [guesses]="summary.guesses" hideUnanswered />
            <p class="bold ellipsis">
              @if (summary.type === 'collection') {
                {{ getCollectionNameFromId(summary.collectionId) }}
              } @else if (summary.type === 'added-on-day') {
                Added on this day
              } @else {
                Custom
              }
            </p>
          </div>
        }
      }
    </div>
  }
</app-page-wrapper>
