:host {
  display: contents;
}

button.quick {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--distance-4);
  border-radius: var(--radius-2);
  background-color: var(--col-accent-2);
  color: var(--col-bg);

  h3 {
    margin: 0;
    color: currentColor;
    .type {
      opacity: var(--opacity-1);
    }
  }

  app-icon-comp {
    position: absolute;
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    right: var(--distance-2);
    opacity: var(--opacity-0);
    bottom: 0;
  }

  .intervalls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    --min-days: 1;
    --max-days: 60;
    --dimension: var(--distance-5);

    height: var(--dimension);

    .interval {
      position: absolute;

      /* 1. Normalize the value to a 0-1 decimal multiplier */
      --progress: calc((var(--days) - var(--min-days)) / (var(--max-days) - var(--min-days)));

      /* 2. Apply the multiplier to the available horizontal space */
      left: calc(var(--progress) * (100% - var(--dimension)));

      display: grid;
      place-items: center;
      font-size: var(--distance-3);
      width: var(--dimension);
      height: 100%;
      aspect-ratio: 1 / 1;

      &.marker {
        // color: var(--col-accent-2);
        border-radius: var(--radius-0);
        font-weight: var(--font-weight-bold);
      }
      &.scope {
        .line {
          display: block;
          height: 100%;
          width: 5px;
          background-color: rgb(from var(--col-bg) r g b / var(--opacity-1));
        }
      }
    }
    .graph {
      display: block;
      width: 100%;
      height: var(--distance-4);
      border-radius: var(--radius-1);

      background-color: rgb(from var(--col-bg) r g b / var(--opacity-0));
    }
  }
}
