@for (action of quickActions(); track $index) {
  <button class="silent quick caroussel-item" (click)="selectAction(action)">
    @switch (action.type) {
      @case ('continue') {
        <ng-icon [svg]="icons.practiceSpeedIcon" class="type" />
        <h3>Continue practice</h3>
        <p class="mt-auto">{{ action.cardsLeft }} cards left until you're done!</p>
      }
      @case ('collection') {
        <ng-icon [svg]="icons.collectionIcon" class="type" />
        <h3>
          {{ action.collection.name }}
        </h3>
        <liz-confidence-stats [confidence]="action.averageScore" />

        <app-spaced-repetition-timeline [dates]="action.practiceDates" />
      }
      @case ('added-on-day') {
        <ng-icon [svg]="icons.practiceScheduleIcon" class="type" />
        <h3>Added on {{ action.dayCardsAddedUTC | date: 'mediumDate' }}</h3>
        <liz-confidence-stats [confidence]="action.averageScore" />

        <p class="size-0">
          Maximize effectiveness by catching the spaced repetition interval exactly.
        </p>
        <app-spaced-repetition-timeline [dates]="action.practiceDates" />
      }
      @case ('worst-cards') {
        <ng-icon [svg]="icons.continuePracticeIcon" class="type" />
        <h3>Most potential</h3>
        <liz-confidence-stats [confidence]="action.averageScore" />

        <p class="size-0">
          Focus on the cards with the lowest average score to boost your overall confidence.
        </p>
      }
      @case ('customize') {
        <ng-icon [svg]="icons.settingsPageIcon" class="type" />
        <h3>Customize everything</h3>
        <p class="mt-auto">Set up the practice session exactly how you want to.</p>
      }
    }
    <ng-icon [svg]="icons.practicePageIcon" class="background" />
  </button>
}
