@for (action of quickActions(); track $index) {
  <button class="silent quick caroussel-item">
    @switch (action.type) {
      @case ('continue') {
        <h3>Continue practice</h3>
        <p>{{ action.cardsLeft }} cards left until you're done!</p>
      }
      @case ('collection-spaced-rep') {
        <h3>{{ action.collection.name }} <span class="type"> Spaced Rep </span></h3>

        <p>
          Its spaced repetition time! You practiced this xxx, now is the time to lock the cards in.
        </p>
        <div class="practices">
          @for (days of action.daysAgo; track days) {
            <div class="interval practice" [style.--days]="days">
              <div class="dot"></div>
            </div>
          }
        </div>
        <div class="scale">
          @for (interval of spacedRepIntervals; track interval) {
            <div class="interval marker" [style.--days]="interval">{{ interval }}</div>
          }
        </div>
      }
      @case ('collection-improve') {
        <h3>
          {{ action.collection.name }}
          <span class="type">Improve</span>
        </h3>
        <p class="small">Theres a lot of potential to improve</p>
      }
      @case ('collection-start') {
        <h3>{{ action.collection.name }} <span class="type"> Start </span></h3>
        <p class="small">You didnt practice this one yet</p>
      }
      @case ('customize') {
        <h3>Customize Practice</h3>
        <p class="small">Customize your practice session exactly how you want to</p>
      }
    }
    <app-icon-comp type="learn" />
  </button>
}
