:host {
  display: contents;
}

button.quick {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--distance-4);
  border-radius: var(--radius-2);
  background-color: var(--col-accent-2);
  color: var(--col-bg);

  h3 {
    margin: 0;
    color: currentColor;
    .type {
      opacity: var(--opacity-1);
    }
  }

  app-icon-comp {
    position: absolute;
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    right: var(--distance-2);
    opacity: var(--opacity-0);
    bottom: 0;
  }

  // setup for spaced rep indicator
  .scale {
    height: var(--distance-4);
    border-radius: var(--radius-1);
    background-color: rgb(from var(--col-bg) r g b / var(--opacity-1));
  }

  .practices {
    height: var(--distance-3);
  }

  .scale,
  .practices {
    display: flex;
    align-items: center;
    position: relative;
    --min-days: 1;
    --max-days: 60;
    --dimension: var(--distance-5);

    .interval {
      position: absolute;
      display: grid;
      place-items: center;
      width: var(--dimension);
      font-size: var(--distance-3);

      --progress: calc((var(--days) - var(--min-days)) / (var(--max-days) - var(--min-days)));
      left: calc(var(--progress) * (100% - var(--dimension)));

      &.marker {
        border-radius: var(--radius-0);
        font-weight: var(--font-weight-bold);
        color: var(--col-accent-2);
      }
      &.practice {
        .dot {
          border-radius: 100%;
          height: 5px;
          aspect-ratio: 1 / 1;
          background-color: rgb(from var(--col-bg) r g b / var(--opacity-1));
        }
      }
    }
  }
}
