:host {
  display: contents;
}

button.quick {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 120px;
  padding: var(--distance-4);
  border-radius: var(--radius-2);
  background-color: var(--col-accent-2);
  color: var(--col-bg);

  h3 {
    margin: 0;
    color: currentColor;
    .type {
      opacity: var(--opacity-1);
    }
  }
}
