@use '../../../../style/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--distance-4);
}

.translate {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 33vh;

  textarea,
  .translation {
    transition-property: all;
    transition-duration: var(--debounce-duration);
    transition-timing-function: ease-out;
    width: 100%;
    border-radius: none;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    padding: 0 var(--distance-5);
    display: border-box;
    scrollbar-width: none;
    border: 1px solid white;
  }

  textarea {
    font-weight: var(--font-weight-bold);
  }

  .translation {
    font-style: italic;
    overflow: hidden;
  }

  &.has-translation {
  }
  &:not(.show-translation) {
    .translation {
      //   opacity: 0;
    }
  }
  &:not(.small-text) {
    textarea,
    .translation {
      font-size: var(--font-size-3);
      line-height: var(--line-height-3);
    }
  }
  &.small-text {
    textarea,
    .translation {
      line-height: var(--line-height-2);
      font-size: var(--font-size-2);
    }
  }
}

.proposal {
  display: grid;
  grid-template-columns: var(--grid-auto-columns);
  gap: var(--distance-4);

  app-learnable-comp {
    &.fly-in-y-wide {
      animation-delay: var(--anim-delay);
    }
  }
}

@include isPhone() {
  .translate {
    .translation,
    textarea {
      text-align: center;
    }
  }
}
@include isDesktop() {
  .translate {
    width: var(--medium-width);
    align-self: center;
    textarea,
    .translation {
      text-align: center;
    }
  }
}
