<app-page-icon-comp type="translate" />
<div class="translate">
  <textarea
    placeholder="type to translate"
    [(ngModel)]="lexemeInput"
    [class]="{ small: smallText(), 'has-translation': !!fastTranslation() }"
  ></textarea>
  @if (fastTranslation(); as translation) {
    <div class="translation" animate.enter="enter" animate.leave="leave">
      <div class="wrapper">
        {{ translation }}
      </div>
    </div>
  }
</div>
<div class="proposal">
  @for (card of proposedCards(); track card) {
    <app-learnable-comp
      animate.enter="fly-in-y-wide"
      animate.leave="fly-out-y"
      [learnable]="card.item"
      [style.--anim-delay.s]="card.animDelay"
    />
  }
</div>
