<app-bubbles>
  <app-bubble
    [config]="bubbleIconConfig()"
    size="big"
    (select)="toggleMode()"
    [count]="selector.selected().size"
  />
  <app-bubble config="checkbox-multiple" size="medium" (select)="toggleAll()" />
  @if (!selector.isEmpty()) {
    <app-bubble config="move" [animateIndex]="1" (select)="importCards()" />

    @if (selectedMode() === 'translate') {
      <app-bubble config="trash" [animateIndex]="2" (select)="deleteSelection()" />
    }
  }
</app-bubbles>

<app-page-wrapper icon="translate">
  <div header>
    <button class="tone-wrapper silent" (click)="setTone()">
      <p class="label size-0">Tone <ng-icon name="remixPencilFill" /></p>
      <p class="tone size-2 ellipsis">{{ tone() || 'Neutral' }}</p>
    </button>
    @if (selectedMode() === 'translate') {
      <app-quick-translate />
    } @else {
      <app-magic-translate [(preset)]="magicPreset" (newCardsCreated)="scrollToCards()" />
    }
  </div>

  @if (cards().length !== 0) {
    <div #cardsWrapper lizAnimDelayWrapper applyClass="fly-in-y-wide">
      <h2 class="indent" #animItem>History</h2>
      <div class="cards">
        @for (card of cards(); track card.id) {
          <button
            app-learnable-comp
            #animItem
            [learnable]="card"
            (click)="selector.toggle(card.id)"
            [isSelected]="selector.selected().has(card.id)"
          ></button>
        }
      </div>
    </div>
  } @else {
    <liz-info-card title="No history available yet" fullPage class="fly-in-y-wide">
      <p>
        Your history will appear here once you use the translate tools. Then you can import the
        cards into your collections.
      </p>
    </liz-info-card>
  }
</app-page-wrapper>
