<app-page-icon-comp type="translate" />
<div
  class="translate"
  [class]="{ 'small-text': smallText(), 'has-translation': !!fastTranslation() }"
>
  <textarea
    #lexemeEl
    placeholder="type to translate"
    [(ngModel)]="lexemeInput"
    (input)="calculateHeight()"
  ></textarea>
  <div class="translation" #translationEl>
    {{ fastTranslation() }}
  </div>
</div>
<div class="proposal">
  @for (card of proposedCards(); track card) {
    <app-learnable-comp
      animate.enter="fly-in-y-wide"
      animate.leave="fly-out-y"
      [learnable]="card.item"
      [style.--anim-delay.s]="card.animDelay"
    />
  }
</div>
