@use '../../../../style/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
}

input.context {
  background-color: transparent;
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  margin-right: 72px;
  max-width: 400px;
  border-radius: var(--radius-3);
  border: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));

  &:not(:focus-visible) {
    opacity: var(--opacity-1);
  }
}

.translate {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  padding: var(--distance-6) 0;
  margin-bottom: var(--distance-6);

  textarea,
  .translation {
    // height animations
    transition-duration: var(--debounce-duration);
    transition-timing-function: var(--soft-ease);
  }
  .translation span {
    // opacity animation
    transition-duration: var(--debounce-duration);
  }

  textarea,
  .translation span {
    padding: var(--distance-5) 0;
  }

  textarea,
  .translation {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    display: border-box;
    scrollbar-width: none;
  }

  textarea {
    transition-property: height;
    font-weight: var(--font-weight-bold);
  }

  .translation {
    transition-property: height;
    font-style: italic;
    overflow: hidden;
    margin: 0;

    span {
      display: block;
      border-top: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
      transition-property: opacity;
    }
  }

  &.show-translation {
    .translation span {
      transition-delay: var(--debounce-duration);
      opacity: 1;
    }
  }

  &:not(.show-translation) {
    .translation {
      transition-delay: var(--debounce-duration);
      span {
        opacity: 0;
      }
    }
  }

  &:not(.small-text) {
    textarea,
    .translation {
      font-size: var(--font-size-3);
      line-height: var(--line-height-3);
      text-align: center;
    }
  }
  &.small-text {
    textarea,
    .translation {
      text-align: left;
      font-size: var(--font-size-1);
      line-height: var(--line-height-1);
    }
  }
}

.proposal {
  display: grid;
  grid-template-columns: var(--grid-auto-columns);
  gap: var(--distance-4);

  app-learnable-comp {
    &.fly-in-y-wide {
      animation-delay: var(--anim-delay);
    }
  }
}
.history-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--distance-4);

  .history-item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--distance-4);

    .interaction {
      display: flex;
      flex-direction: column;
      gap: var(--distance-2);
      align-items: end;
      .remove {
        opacity: var(--opacity-1);
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: var(--distance-2);
      overflow: hidden;

      .lexeme {
        font-weight: var(--font-weight-bold);
      }

      .translation {
        font-style: italic;
      }

      .tone {
        opacity: var(--opacity-1);
      }
    }

    &:not(:last-child) {
      padding-bottom: var(--distance-4);
      border-bottom: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
    }
  }
}

@include isPhone() {
  .translate {
    min-height: 300px;
  }
}
@include isDesktop() {
  .translate {
    height: 50vh;
    min-height: 330px;
    width: var(--medium-width);
    align-self: center;
  }
}
