@switch (confidence()) {
  @case ('noteven') {
    <ng-icon class="icon" name="remixHeartsFill" />
  }
  @case ('atleast') {
    <ng-icon class="icon" name="remixStarFill" />
    <ng-icon class="icon" name="remixStarLine" />
    <ng-icon class="icon" name="remixStarLine" />
  }
  @case ('okay') {
    <ng-icon class="icon" name="remixStarFill" />
    <ng-icon class="icon" name="remixStarLine" />
    <ng-icon class="icon" name="remixStarFill" />
  }
  @case ('good') {
    <ng-icon class="icon" name="remixStarFill" />
    <ng-icon class="icon" name="remixStarFill" />
    <ng-icon class="icon" name="remixStarFill" />
  }
  @case ('excellent') {
    <ng-icon class="icon" name="remixMeteorFill" />
  }
}
