@use '../../../../../style/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: var(--page-padding);
  gap: var(--distance-6);
}

.header-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--distance-2);

  .description {
    opacity: var(--opacity-1);

    &:empty {
      display: none;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--distance-4);

  &:empty {
    display: none;
  }
}

.buttons {
  gap: var(--distance-4);
}

@include isPhone {
  .header-section {
    text-align: center;
  }
  .buttons {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
@include isDesktop() {
  :host {
    min-width: 450px;

    .header-section {
      align-items: start;
    }
    .buttons {
      display: flex;
      justify-content: end;
      [type='submit'] {
        min-width: 250px;
      }
      [type='button'] {
        min-width: 150px;
      }
    }
  }
}
