# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
build/Release

# Node
node_modules
jspm_packages
npm-debug.log
npm-debug.log*
yarn-error.log

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage
coverage
.nyc_output
lib-cov

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*code-workspace

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings
__screenshots__

# Grunt intermediate storage
.grunt

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# 0x profiling
profile-*
profile*

# clinic
*clinic*
*flamegraph*

# vim swap files
*.swp

# System files
.DS_Store
Thumbs.db

# Environment files
.env*


