<form [formGroup]="convertForm" (ngSubmit)="onSubmit()" class="modal">
  <div class="content fly-in-y-0">
    <div class="user-input">
      @if (imagePreview(); as img) {
        <div class="image-preview" [class.converting]="isConverting()">
          <img [src]="img" alt="Preview" />
        </div>
        <button
          type="button"
          class="small delete"
          [disabled]="isConverting()"
          (click)="removeImage()"
        >
          Remove Image
        </button>
      } @else {
        <textarea
          [class.converting]="isConverting()"
          formControlName="text"
          placeholder="Paste notes, articles or any other text here"
        ></textarea>
        <div class="image-input">
          <input
            id="image"
            type="file"
            accept="image/*;capture=camera"
            (change)="onFileChange($event)"
          />
          <label for="image">
            <app-icon-comp type="image" />
          </label>
        </div>
      }
    </div>
    <app-radio-comp
      [config]="[
        { value: 'words', label: 'Words' },
        { value: 'phrases', label: 'Phrases' },
        { value: 'both', label: 'Both' }
      ]"
      formControlName="type"
      label="types"
    />
  </div>
  <button class="big cancel fly-in-y-1" type="button" (click)="cancel()">Cancel</button>
  <button
    type="submit"
    class="icon fly-in-y-2"
    [disabled]="(!convertForm.value.text && !imagePreview()) || isConverting()"
  >
    @if (isConverting()) {
      <span>Converting...</span>
    } @else {
      <span>Convert</span>
    }
    <app-icon-comp type="magic" />
  </button>
</form>
