@use '../../../../../style/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  padding: var(--page-padding) 0 calc(var(--page-padding) * 2) 0;

  box-sizing: border-box;
  rotate: -4deg;
  transform-origin: top left;
  position: relative;

  .back {
    display: flex;
    align-items: center;
    flex-direction: row;

    ng-icon {
      font-size: 24px;
      transition-duration: var(--duration-1);
      transition-property: scale, margin;
      transition-timing-function: ease;
    }

    &:focus-within,
    &:hover {
      ng-icon {
        scale: 1.3;
        margin-right: var(--distance-0);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--distance-1);
  }

  .bg-wrapper {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    align-items: end;
    top: 0;
    left: 0;

    .card-bg {
      grid-area: 1 / 1;
      width: 140%;
      height: 130%;
      border-radius: var(--radius-2);
      box-sizing: border-box;
      z-index: -1;

      &.two {
        width: 100%;
        translate: 0px 10px;
        rotate: 6deg;
      }
    }
  }

  &:not(.outline) .card-bg {
    background-color: var(--col-accent);

    &.two {
      opacity: var(--opacity-1);
    }
  }

  &.outline .card-bg {
    border: 2px solid rgb(from var(--col-accent) r g b / var(--opacity-1));
    &.one {
      background-color: var(--col-bg);
    }
    &.two {
      background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
    }
  }
}

@include isDesktop {
  :host {
    width: fit-content;
    min-width: 400px;
    margin-bottom: var(--distance-7);
    padding-bottom: var(--distance-7);
    padding-right: var(--distance-8);

    .card-bg {
      justify-self: end;
    }
  }
}
@include isPhone {
  :host {
    margin-bottom: var(--distance-4);
  }
}

:host {
  animation: header-fly-in var(--duration-3) var(--soft-ease);

  .card-bg.two {
    animation: card-fly-in var(--duration-3) var(--soft-ease);
  }
}

@keyframes header-fly-in {
  from {
    opacity: 0;
    translate: 0px -50px;
  }
}

@keyframes card-fly-in {
  from {
    opacity: 0;
    translate: -120px 30px;
  }
}
