@let guessTranslation = practice()?.guessableField === 'translation';

@for (cardVM of cards(); track cardVM.card.id) {
  <div class="card" [attr.guess]="cardVM.guess" [attr.offset-to-active]="cardVM.offsetToActive">
    @if (guessTranslation) {
      <p class="bold size-3">
        {{ cardVM.card.lexeme }}
      </p>
      <p class="italic size-3">
        {{ cardVM.card.translation }}
      </p>
    } @else {
      <p class="bold size-3">
        {{ cardVM.card.translation }}
      </p>
      <p class="italic size-3">
        {{ cardVM.card.lexeme }}
      </p>
    }
    <p class="size-2 pt-4 notes">
      {{ cardVM.card.notes }}
    </p>
  </div>
}

<ng-icon [svg]="icons.incorrectAnswerIcon" class="vote wrong" />
<ng-icon [svg]="icons.correctAnswerIcon" class="vote right" />

<div class="card larry" guess="unanswered" [attr.offset-to-active]="larryCardIndex()">
  <app-larry-big />
</div>
