:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: var(--distance-2) 0;
  background-color: var(--col-bg);

  position: relative;
  border-radius: var(--radius-2);
  padding: var(--distance-4);
  box-sizing: border-box;
  overflow: hidden;

  border: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));

  .header {
    grid-column: span 2;
    display: flex;

    gap: var(--distance-4);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);

    .name {
      translate: 0 -2px;

      line-height: var(--line-height-2);
      margin-right: auto;
    }
  }

  .info {
    grid-column: span 2;
  }

  .info.languages {
    display: flex;
    gap: var(--distance-1);
  }

  .counter {
    --displace: calc(var(--distance-4) * -1);
    --height: 140px;

    position: absolute;
    opacity: var(--opacity-0);
    position: absolute;
    user-select: none;
    overflow: hidden;
    color: var(--col-text);
    z-index: 0;

    font-weight: var(--font-weight-bold);
    font-size: var(--height);
    line-height: calc(var(--height) - 20px);
    right: var(--displace);
    bottom: var(--displace);
  }

  .copy {
    opacity: var(--opacity-1);
  }

  .copy,
  .import {
    align-self: start;
  }

  .shared,
  .ttl,
  .info {
    z-index: 1;
    opacity: var(--opacity-1);
    font-size: var(--font-size-0);
  }
  .ttl {
    place-self: end;
  }

  &.community {
    height: 150px;
  }
}
