@for (sum of summaries(); track $index) {
  @if (sum.type === 'collection') {
    <a
      liz-user-collection
      class="caroussel-item"
      [collection]="sum"
      [confidence]="sum.averageConfidence"
      [routerLink]="['/cards', sum.id]"
    ></a>
  } @else {
    <a class="cards-stack-wrapper caroussel-item all" [routerLink]="['/cards', 'all']">
      <h3>All Cards</h3>
      <liz-confidence-stats [confidence]="sum.averageConfidence" />

      <p class="mt-auto">
        @if (sum.collectionLess > 0) {
          <span class="word-list-item">
            <strong> {{ sum.collectionLess }} </strong> loose cards
          </span>
        }
      </p>
    </a>
  }
}
