@for (sum of summaries(); track $index) {
  @if (sum.type === 'collection') {
    <button
      class="caroussel-item"
      liz-user-collection
      [collection]="sum"
      [confidence]="sum.averageConfidence"
      (click)="openLink(sum.id)"
    ></button>
  } @else {
    <button class="cards-stack-wrapper caroussel-item all" (click)="openLink()">
      <h3>All Cards</h3>
      <liz-confidence-stats [confidence]="sum.averageConfidence" />

      <p class="mt-auto">
        @if (sum.collectionLess > 0) {
          <span class="word-list-item">
            <strong> {{ sum.collectionLess }} </strong> loose cards
          </span>
        }
      </p>
    </button>
  }
}
