@use '../../../../../style/mixins' as *;

:host {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  liz-swiper,
  liz-swiper-summary {
    grid-area: 1 / 1 / 4 / 4;
  }
  liz-swiper-nav {
    z-index: 20;
  }
}
@include isPhone {
  liz-swiper {
    grid-area: 1 / 1 / 4 / 4;
    justify-self: end;
  }
  liz-swiper-nav {
    align-self: end;
  }
}

@include isDesktop {
  liz-swiper {
    width: 600px;
    height: 400px;
    place-self: center;
    grid-area: 1 / 1 / 3 / 4;
  }
  liz-swiper-nav {
    place-self: end center;
    width: 400px;
  }
}
