@use '../../../../../style/mixins' as *;

:host {
  display: grid;
  height: 100%;
  place-items: stretch;
  liz-swiper-page-layout,
  liz-swiper-summary {
    grid-area: 1 / 1;
  }
}

@include isDesktop {
  liz-swiper {
    width: 600px;
    height: 400px;
  }
}
