@use '../../../../../style/mixins' as *;

@include isPhone {
  :host {
    display: grid;
    liz-swiper,
    liz-swiper-nav {
      grid-area: 1 / 1;
    }
    liz-swiper-nav {
      place-self: end;
      z-index: 20;
    }
  }
}
