// setup for spaced rep indicator
.scale {
  height: var(--distance-4);
  border-radius: var(--radius-1);
  background-color: rgb(from var(--col-bg) r g b / var(--opacity-1));
}

.practices {
  height: var(--distance-3);
}

.scale,
.practices {
  display: flex;
  align-items: center;
  position: relative;
  --min-days: 1;
  --max-days: 60;
  --dimension: var(--distance-5);

  .interval {
    position: absolute;
    display: grid;
    place-items: center;
    width: var(--dimension);
    font-size: var(--distance-3);

    --progress: calc((var(--days-ago) - var(--min-days)) / (var(--max-days) - var(--min-days)));
    left: calc(var(--progress) * (100% - var(--dimension)));

    &.marker {
      border-radius: var(--radius-0);
      font-weight: var(--font-weight-bold);
      color: var(--col-accent-2);
    }
    &.practice {
      app-icon-comp {
        color: rgb(from var(--col-bg) r g b / var(--opacity-1));
      }
    }
  }
}
