<div class="practices">
  @for (marker of dates(); track marker) {
    <div class="interval practice" [style.--days-ago]="marker.intervall">
      @if (marker.type === 'practice') {
        <app-icon-comp type="circle-check" [size]="12" />
      } @else {
        <app-icon-comp type="circle" [size]="12" />
      }
    </div>
  }
</div>
<div class="scale">
  @for (interval of SPACED_REP_INTERVALS; track interval) {
    <div class="interval marker" [style.--days-ago]="interval">{{ interval }}</div>
  }
</div>
