app-practice-rating-comp {
  place-self: center;
  display: block;
  filter: drop-shadow(3px 10px 12px var(--col-bg));

  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 0px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  overflow: hidden;
}
[swiper-navigation] button {
  box-shadow: var(--shadow-big);
}
.overview {
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }

  .stats {
    display: flex;
    gap: var(--distance-1);
    justify-content: center;
    opacity: var(--opacity-1);

    .pill {
      display: inline-flex;
      align-items: center;
      gap: var(--distance-1);

      ng-icon {
        display: block;
      }

      &:not(:last-child):after {
        opacity: var(--opacity-0);
        content: '/';
      }
    }

    table {
      margin: auto 0;
      padding: var(--distance-4);
      width: 100%;
      border-spacing: 0;

      td {
        padding: var(--distance-2) var(--distance-4);

        &:last-child {
          text-align: right;
        }
      }

      tr:not(:last-child) td {
        border-bottom: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
      }
    }
    p {
      text-align: center;
    }

    .nudge {
      padding: var(--distance-5);
    }
  }
}

liz-info-card {
  grid-column: span 2;
  box-shadow: var(--shadow-big);
  backdrop-filter: blur(5px);
}

[swiper-navigation] {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--distance-5) var(--distance-4);
  .full {
    grid-column: span 2;
  }
}

.pop-in {
  animation: popIn var(--duration-3) var(--overshot) backwards;
}

@keyframes popIn {
  from {
    scale: 0.7;
    opacity: 0;
  }
}
