:host {
  display: grid;
  grid-template-rows: 1fr auto;
  flex-direction: column;
  overflow: hidden;
}

app-practice-rating-comp {
  display: block;
  filter: drop-shadow(3px 10px 12px var(--col-bg));

  height: auto;
  width: 100%;
  height: auto;
  min-width: 0px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--distance-4);
}

h2,
p {
  text-align: center;
}

.pop-in {
  animation: popIn var(--duration-3) var(--overshot) backwards;
}

@keyframes popIn {
  from {
    scale: 0.7;
    opacity: 0;
  }
}
