@let sum = summary();

<ng-container lizAnimDelayWrapper applyClass="pop-in">
  <div class="overview">
    <app-practice-rating-comp [confidence]="sum.guessedRightPercent" #animItem />
    <p class="header size-3 bold" #animItem>You got {{ sum.guessedRightPercent }}% right!</p>
    <p class="header bold size-2 light pt-4" #animItem>{{ subHeader[sum.rating] }}</p>

    @if (sum.rating !== 'excellent') {
      <liz-info-card #animItem title="Improve this rating?" class="mt-auto">
        Continue to revisit only the cards you didnt get yet!
      </liz-info-card>
    }
  </div>
  <!-- show 'continue to improve this rating, only x unanswered and y wrong left!' -->
  <div class="nav finalize" #animItem>
    <button class="big" (click)="finish.emit()" #animItem>Finish</button>
    @if (sum.rating !== 'excellent') {
      <button class="big primary has-icon" (click)="continue.emit()" #animItem>
        Continue <ng-icon [svg]="practiceSpeedIcon" />
      </button>
    }
  </div>
</ng-container>
