app-practice-rating-comp {
  place-self: center;
  display: block;
  filter: drop-shadow(3px 10px 12px var(--col-shadow));

  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 0px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  overflow: hidden;
}

[swiper-navigation] button {
  box-shadow: var(--shadow-big);
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
  }
}

liz-info-card {
  grid-column: span 2;
  box-shadow: var(--shadow-big);
  backdrop-filter: blur(5px);
}

[swiper-navigation] {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--distance-5) var(--distance-4);

  .full {
    grid-column: span 2;
  }
}

.pop-in {
  animation: popIn var(--duration-3) var(--overshot) backwards;
}

@keyframes popIn {
  from {
    scale: 0.7;
    opacity: 0;
  }
}
