@use '../../../../../style/mixins.scss' as *;

:host {
  position: absolute;
}

.wrapper,
.backdrop {
  height: var(--app-height);
  width: 100vw;
}
.wrapper {
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
}

.backdrop,
.fake-dialog {
  grid-area: 1 / 1;
}

.fake-dialog {
  display: grid;
  box-sizing: border-box;
  z-index: 1;
}

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 29;
  background-color: rgb(from var(--col-bg) r g b / 0.95);
  backdrop-filter: blur(5px);

  &.enter {
    animation: bd-appear var(--duration-1) var(--soft-ease);
  }

  &.leave {
    animation: bd-appear var(--duration-1) ease reverse;
  }
}

@include isPhone() {
  .fake-dialog {
    place-self: stretch;
  }
}
@include isDesktop() {
  .fake-dialog {
    place-self: center;
    border: 1px solid rgb(from var(--col-accent) r g b / var(--opacity-1));
    border-radius: var(--radius-2);
  }
}

@keyframes bd-appear {
  from {
    opacity: 0;
  }
}
