:host {
  position: fixed;
  pointer-events: none;
  display: grid;
  place-items: center;
  z-index: 20;
  width: 100vw;
  left: 0;
  bottom: 80px;
  box-sizing: border-box;
  padding: 0 var(--distance-4);
}

.toast {
  max-width: 100%;
  min-width: 300px;
  word-break: break-all;
  overflow: hidden;
  margin-bottom: var(--distance-3);
  padding: var(--distance-2) var(--distance-3);
  box-shadow: var(--shadow-big);
  border-radius: var(--radius-1);
  position: relative;

  .header {
    font-weight: var(--font-weight-bold);
    padding-bottom: var(--distance-1);
  }

  ng-icon {
    font-size: 52px;
    position: absolute;
    top: 0;
    right: 0;
    translate: 12px -8px;
    rotate: 6deg;
    opacity: var(--opacity-1);
  }

  &.error {
    background-color: var(--col-warning);
    color: var(--col-text);
    ng-icon {
      color: var(--col-bg);
    }
  }

  &.info {
    background-color: var(--col-primary);
    color: var(--col-bg);

    ng-icon {
      color: var(--col-accent);
    }
  }
}

.toast-in {
  animation: toast-in var(--duration-3);

  display: grid;
  align-self: flex-end;

  .wrapper {
    overflow: hidden;
  }
}

.toast-out {
  animation: toast-out var(--duration-2);
}

@keyframes toast-out {
  to {
    opacity: 0;
    translate: 0 -10px;
  }
}

@keyframes toast-in {
  from {
    opacity: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    grid-template-rows: 0fr;
    translate: 0 80px;
  }
  50% {
    translate: 0 80px;

    opacity: 0;
    grid-template-rows: 1fr;
  }
  to {
    opacity: 1;
  }
}
