.fake-card {
  display: grid;
  border-radius: var(--radius-2);
  background-color: var(--col-accent);
  overflow: hidden;

  textarea {
    height: 80px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: var(--distance-4);

    &.lexeme {
      font-weight: var(--font-weight-bold);
      padding-bottom: 0;
    }
    &.translation {
      border-radius: 0;
      font-style: italic;
      padding-bottom: 0;
    }
    &.notes {
    }
  }
}
