@use '../../../../../style/mixins.scss' as *;

.language {
  display: flex;
  gap: var(--distance-2);
  align-items: center;
  margin: var(--distance-0) 0 0 0;
}
.params-config {
  display: flex;
  gap: var(--distance-4);
  margin-bottom: var(--distance-4);
}

.banks {
  display: grid;
  grid-template-columns: var(--grid-auto-columns);
  gap: var(--distance-4);
}

.state-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--distance-7) 0;
  text-align: center;
}

@include isPhone() {
  .params-config {
    display: flex;
    grid-template-columns: 1fr auto;

    .change {
      flex: 1;
    }
  }
}
@include isDesktop() {
  .params-config {
    display: flex;

    .change {
      margin-left: auto;
    }
  }
}
