:host {
  display: flex;
  align-items: center;
  gap: var(--distance-3);
  width: 100%;
  min-width: 0;
  color: var(--col-primary);
  box-sizing: border-box;
}

.center {
  display: flex;
  gap: var(--distance-1);
  flex: 0 0 auto;

  ng-icon {
    opacity: var(--opacity-1);
  }
  p {
    opacity: var(--opacity-0);
  }
}

.confidence {
  --mask-light: rgb(0, 0, 0);
  --mask-dark: rgb(0, 0, 0, var(--opacity-0));

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--distance-1);
  flex: 1 1 0;
  min-width: 0;
  width: 100%;

  .dot {
    background-color: var(--col-primary);
    flex: 1 1 0;
    max-width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
  }

  &.translation,
  &.lexeme {
    transition: mask-size var(--duration-1) var(--soft-ease);
  }

  &.translation {
    --invert-conf: calc(100% - var(--confidence));

    mask:
      linear-gradient(var(--mask-light), var(--mask-light)) right / var(--confidence, 100%) 100%
        no-repeat,
      linear-gradient(var(--mask-dark), var(--mask-dark));
  }

  &.lexeme {
    mask:
      linear-gradient(var(--mask-light), var(--mask-light)) left / var(--confidence, 100%) 100%
        no-repeat,
      linear-gradient(var(--mask-dark), var(--mask-dark));
  }
}
