@if (bank.hasValue()) {
  @let ban = bank.value();
  <app-page-wrapper>
    <liz-page-header-cards header [title]="ban.name" outline #animItem>
      <liz-shared-bank-stats [bank]="ban" hideCounts class="text size-2" />
      <liz-shared-bank-stats [bank]="ban" hideGeneral class="text light" />
      <liz-language-match [languageConfig]="ban.language" class="text light" />
    </liz-page-header-cards>

    <div class="content" lizAnimDelayWrapper applyClass="fly-in-y-wide">
      <div class="full-width-scroll action-buttons" #animItem>
        @if (selectedCollection()) {
          <button (click)="selectedCollection.set(null)" class="header-action all fly-in-x-wide">
            <ng-icon [svg]="icons.collapseIcon" />
            All cards
          </button>
        } @else {
          <button (click)="import(ban)" class="header-action">
            Import
            <ng-icon [svg]="icons.addIcon" />
          </button>
          <button (click)="copyLink(ban)" class="header-action">
            Copy link
            <ng-icon [svg]="icons.copyIcon" />
          </button>
          <button class="header-action" (click)="download(ban)">
            Download
            <ng-icon [svg]="icons.downloadIcon" />
          </button>
          @if (ban.collections.length > 1) {
            <div class="separator ml-auto"></div>
            @for (coll of ban.collections; track coll.id) {
              <button class="coll" (click)="selectedCollection.set(coll)" class="header-action">
                {{ coll.name }}
              </button>
            }
          }
        }
      </div>
      <div class="cards">
        @for (card of visibleCards(); track card.id) {
          <app-learnable-comp [learnable]="card" #animItem />
        }
      </div>
    </div>
  </app-page-wrapper>
} @else {
  <div class="center">
    <app-loading-spinner label="Loading bank" cover />
  </div>
}
