@if (bank.hasValue()) {
  @let ban = bank.value();
  <app-page-wrapper icon="share-network-fill">
    <app-page-header-comp [title]="ban.name" backLink="/community" backLinkText="Community">
      <p>
        <span class="word-list-item">Expires then</span>
        <span class="word-list-item">{{ ban.downloads }} downloads</span>
      </p>
      <liz-language-match [languageConfig]="ban.language" />
    </app-page-header-comp>

    <div class="content">
      <div class="full-width-scroll action-buttons">
        @if (selectedCollection()) {
          <button (click)="selectedCollection.set(null)">
            <app-icon-comp type="chevron" class="icon chevron" />
            All Cards
          </button>
        } @else {
          <button (click)="import(ban)">
            Import
            <app-icon-comp type="add-fill" class="icon" />
          </button>
          <button (click)="copyLink(ban)">
            Copy link
            <app-icon-comp type="copy" class="icon" />
          </button>
          <button>
            Download
            <app-icon-comp type="share" class="icon" (click)="download(ban)" />
          </button>
        }
        @if (ban.collections.length > 1) {
          <div class="separator"></div>

          @for (coll of ban.collections; track coll.id) {
            <button class="coll" (click)="selectedCollection.set(coll)">
              {{ coll.name }}
            </button>
          }
        }
      </div>
      <div class="cards">
        @for (card of visibleCards(); track card.id) {
          <button app-learnable-comp [learnable]="card"></button>
        }
      </div>
    </div>
  </app-page-wrapper>
}
