@if (bank.hasValue()) {
  @let ban = bank.value();
  <app-page-wrapper icon="share-network-fill">
    <!-- <app-page-header-comp [title]="ban.name" backLink="/community" backLinkText="Community">
      <p class="pb-1">
        <span class="word-list-item">{{ ttl() }}</span>
        <span class="word-list-item">{{ ban.downloads }} downloads</span>
      </p>
      <liz-language-match [languageConfig]="ban.language" />
    </app-page-header-comp> -->
    <liz-shared-bank-header [bank]="ban" header />

    <div class="content">
      <div class="full-width-scroll action-buttons">
        @if (selectedCollection()) {
          <button (click)="selectedCollection.set(null)" class="header-action all fly-in-x-wide">
            <app-icon-comp type="chevron" />
            All cards
          </button>
        } @else {
          <button (click)="import(ban)" class="header-action">
            Import
            <app-icon-comp type="add-fill" />
          </button>
          <button (click)="copyLink(ban)" class="header-action">
            Copy link
            <app-icon-comp type="copy" />
          </button>
          <button class="header-action">
            Download
            <app-icon-comp type="share" (click)="download(ban)" />
          </button>
          @if (ban.collections.length > 1) {
            <div class="separator ml-auto"></div>
            @for (coll of ban.collections; track coll.id) {
              <button class="coll" (click)="selectedCollection.set(coll)" class="header-action">
                {{ coll.name }}
              </button>
            }
          }
        }
      </div>
      <div class="cards">
        @for (card of visibleCards(); track card.id) {
          <div app-learnable-comp [learnable]="card"></div>
        }
      </div>
    </div>
  </app-page-wrapper>
}
