@use '../../../../../style/mixins.scss' as *;

:host {
  padding-top: var(--distance-4);
  display: block;
}

form {
  padding: 0 var(--distance-4) var(--distance-6) var(--distance-3);
}

form .wrapper {
  display: flex;
  gap: var(--distance-4);
}

.toggle-wrapper {
  display: flex;
  gap: var(--distance-3);
  padding: 0 var(--distance-3);

  width: 100%;
  box-sizing: border-box;

  button {
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-bold);
    opacity: var(--opacity-1);
  }

  .reset {
    margin-left: auto;
  }

  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: var(--font-size-0);
      font-weight: var(--font-weight-bold);
    }

    .icon.warn {
      margin-right: var(--distance-1);
    }

    .chevron {
      transition: rotate var(--duration-1);
    }

    .chevron:not(.rotated) {
      rotate: 0deg;
    }
    .chevron.rotated {
      rotate: 180deg;
    }
  }
}

@include isPhone() {
  .wrapper {
    flex-direction: column;
  }
}

@include isDesktop {
  .wrapper {
    flex-wrap: wrap;
    align-items: center;
    padding-left: var(--distance-6);
    position: relative;

    &:before {
      display: block;
      content: '';
      width: var(--distance-2);
      border-radius: var(--radius-1);
      height: 100%;
      background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
      position: absolute;
      left: 0;
      top: 0;
    }

    label {
      width: 500px;
    }
  }
}
