@use '../../../../style/mixins' as *;

.learnables {
  display: grid;
  grid-template-columns: var(--grid-auto-columns);
  gap: var(--distance-4);
}

.quick-links {
  display: grid;
}

@include isDesktop {
  .quick-links {
    grid-template-columns: 1fr 1fr;
    gap: var(--distance-3);
  }
}
@include isPhone {
  .quick-links {
    grid-template-columns: 1fr;
    place-items: stretch;
    gap: var(--distance-2);
  }
}
