.learnables {
  display: grid;
  grid-template-columns: var(--grid-auto-columns);
  gap: var(--distance-4);

  .learnable {
    border: 2px solid var(--col-accent);
    border-radius: var(--radius-1);
    background-color: var(--col-accent);

    transition:
      border var(--duration-0),
      outline var(--duration-0);

    &.selected {
      border: 2px solid var(--col-primary);
    }
  }
  h2 {
    margin: var(--distance-4) 0 var(--distance-2);
  }
}
