<app-page-icon-comp type="share-network-fill" />
<app-page-header-comp title="Community"> </app-page-header-comp>
<h2 class="first user">Your recent shares</h2>
<div class="collections user">
  @for (bank of userBanks; track bank.name) {
    <app-shared-bank-comp class="stacked-shadow" [bank]="bank" (copyId)="copyLink(bank)" />
  }
</div>

@for (section of previewBanks(); track section.title) {
  <a class="header silent" routerLink="/community/explore" [queryParams]="section.params">
    <h2>{{ section.title }}</h2>
    <app-icon-comp type="chevron" [size]="24" />
  </a>
  <div class="collections community">
    @for (bank of section.banks; track bank.name) {
      <app-shared-bank-comp
        class="stacked-shadow"
        [bank]="bank"
        (copyId)="copyLink(bank)"
        (importBank)="importBank(bank)"
        [isCommunityBank]="true"
      />
    }
    <a
      class="silent see-more stacked-shadow"
      routerLink="/community/explore"
      [queryParams]="section.params"
    >
      <span> explore more </span>
      <app-icon-comp type="chevron" size="auto" />
    </a>
  </div>
}
