@use '../../../../style/mixins.scss' as *;

.preview-sections {
  display: flex;
  flex-direction: column;
  gap: var(--distance-5);
}

.user {
  height: 150px;
}

a.see-more {
  display: grid;
  border: 1px solid rgb(from var(--col-accent) r g b / var(--opacity-1));
  border-radius: var(--radius-2);
  background-color: var(--col-bg);
  place-items: center;
  overflow: hidden;
  position: relative;

  app-icon-comp,
  span {
    transition: translate var(--duration-1);
  }

  span {
    white-space: nowrap;
    font-weight: var(--font-weight-bold);
    translate: -30px;
  }

  app-icon-comp {
    position: absolute;
    right: -35%;
    color: var(--col-accent);
    width: auto;
    height: 250%;
    aspect-ratio: 1 / 1;
    rotate: 90deg;
    opacity: var(--opacity-0);
  }

  &:hover,
  &:focus-visible {
    app-icon-comp {
      translate: 20px;
    }
    span {
      translate: -40px;
    }
  }
}
