@use '../../../../style/mixins.scss' as *;

h2 {
  margin: 0 0 0 var(--distance-2);

  font-size: var(--font-size-2);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--distance-1);
  margin: var(--distance-6) 0 0 var(--distance-2);
  padding: 0 var(--distance-1);

  h2,
  app-icon-comp {
    transition: translate var(--duration-1);
  }
  h2 {
    display: block;
    margin: 0;
  }

  app-icon-comp {
    rotate: 90deg;
  }

  &:hover,
  &:focus-visible {
    app-icon-comp {
      translate: var(--distance-2);
    }
    h2 {
      translate: calc(var(--distance-1));
    }
  }
}

.collections {
  gap: var(--distance-4);
}

.tabs {
  padding: var(--distance-3) 0 var(--distance-1) 0;
  display: flex;
  gap: var(--distance-2);
  .tab {
    h2 {
      font-size: var(--font-size-2);
      margin: 0;
      padding: var(--distance-3) 0;
    }
  }
}

.see-more {
  display: grid;
  border: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
  border-radius: var(--radius-2);
  background-color: rgb(from var(--col-bg) r g b / var(--opacity-1));
  place-items: center;
  overflow: hidden;
  position: relative;

  app-icon-comp,
  span {
    transition: translate var(--duration-1);
  }

  span {
    white-space: nowrap;
    font-weight: var(--font-weight-bold);
    translate: -30px;
  }

  app-icon-comp {
    position: absolute;
    right: -100px;
    color: var(--col-text);
    width: 400px;
    height: 400px;
    rotate: 90deg;
    opacity: var(--opacity-0);
  }

  &:hover,
  &:focus-visible {
    app-icon-comp {
      translate: 20px;
    }
    span {
      translate: -40px;
    }
  }
}
@include isDesktop() {
  .collections {
    display: grid;
    grid-template-columns: var(--grid-auto-columns);
    grid-auto-rows: 1fr;
    padding: var(--distance-3) 0;
  }
}

@include isPhone() {
  .collections {
    overflow-x: auto;
    display: flex;
    margin: 0 calc(var(--distance-4) * -1);
    scrollbar-width: none;
    padding: var(--distance-3) var(--distance-4);

    app-shared-bank-comp,
    .see-more {
      flex: 0 0 320px;
    }
  }
}
