<app-page-icon-comp type="share-network-fill" />
<app-page-header-comp title="Shared" />
<h2 class="first user">Your recent shares</h2>
<div class="collections user">
  @for (bank of userBanks; track bank.name) {
  <app-shared-bank-comp [bank]="bank" (copyId)="copyLink(bank)" [allowImport]="false" />
  }
</div>

@for (section of sections; track section.title) {
<button class="header silent">
  <h2>{{ section.title }}</h2>
  <app-icon-comp type="chevron" [size]="24" />
</button>
<div class="collections community">
  @for (bank of section.banks; track bank.name) {
  <app-shared-bank-comp
    [bank]="bank"
    (copyId)="copyLink(bank)"
    (importBank)="importBank(bank)"
    [isCommunityBank]="true"
  />
  }
  <button class="silent see-more">
    <span> explore more </span>
    <app-icon-comp type="chevron" size="auto" />
  </button>
</div>
}
