@use '../../../../style/mixins.scss' as *;

.preview-sections {
  display: flex;
  flex-direction: column;
  gap: var(--distance-5);
}

.user-shares {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  app-shared-bank-comp {
    flex: 0 0 300px;
  }
}

a.see-more {
  display: grid;
  border: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
  border-radius: var(--radius-2);
  background-color: var(--col-bg);
  place-items: center;
  overflow: hidden;
  position: relative;

  app-icon-comp,
  span {
    transition: translate var(--duration-1);
  }

  span {
    white-space: nowrap;
    font-weight: var(--font-weight-bold);
    translate: -30px;
  }

  app-icon-comp {
    position: absolute;
    right: -100px;
    color: var(--col-text);
    width: 400px;
    height: 400px;
    rotate: 90deg;
    opacity: var(--opacity-0);
  }

  &:hover,
  &:focus-visible {
    app-icon-comp {
      translate: 20px;
    }
    span {
      translate: -40px;
    }
  }
}
