<app-page-wrapper icon="share-network-fill">
  <app-page-header-comp title="Community" backLink="/" backLinkText="Home" />
  <div class="preview-sections">
    @for (section of previewBanks(); track section.title) {
      <div class="fly-in-y-wide" [animDelay]="{ i: $index, list: previewBanks() ?? [] }">
        @if (section.type === 'community') {
          <app-header-link
            [label]="section.title"
            [route]="'/community/explore'"
            [queryParams]="section.params"
          />

          <div class="caroussel-wrapper">
            @for (bank of section.banks; track bank.id) {
              <a
                app-shared-bank-comp
                class="caroussel-item"
                [bank]="bank"
                (copyId)="copyLink(bank)"
                (importBank)="importBank(bank)"
                [isCommunityBank]="true"
                [routerLink]="['/community/bank', bank.id]"
              ></a>
            }

            <a
              class="silent see-more caroussel-item"
              routerLink="/community/explore"
              [queryParams]="section.params"
            >
              <span> Explore more </span>
              <app-icon-comp type="chevron" size="auto" />
            </a>
          </div>
        } @else {
          <h2 class="indent" [class.first]="$index === 0">Your recent shares</h2>
          <div class="caroussel-wrapper">
            @for (bank of section.banks; track bank.id) {
              <a
                app-shared-bank-comp
                class="caroussel-item"
                [bank]="bank"
                (copyId)="copyLink(bank)"
              ></a>
            }
          </div>
        }
      </div>
    }
  </div>

  @if (fetchState() === 'no-data') {
    <liz-info-card title="No shared Banks available" fullPage>
      <p>As soon as you or other users share banks, they will appear here.</p>
    </liz-info-card>
  }

  @switch (fetchState()) {
    @case ('loading') {
      <div class="state-indicator">
        <app-loading-spinner class="fly-in-y-wide" />
      </div>
    }
    @case ('error') {
      <liz-info-card title="Error loading Banks" type="warn" fullPage>
        <p class="pb-4">
          Either larry is having a bad day or your internet is down. Either way, please try again
          later.
        </p>
        <button class="big" (click)="fetchBankPreviews()">Retry now</button>
      </liz-info-card>
    }
  }
</app-page-wrapper>
