:host {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;
  padding: var(--distance-2) var(--distance-3);
  position: relative;
  gap: var(--distance-1) 0;
  background-color: var(--col-accent);
  border-radius: var(--radius-2);
  border: 2px solid var(--col-accent);
  user-select: none;

  height: 150px;
  place-items: center start;

  .lexeme,
  .translation,
  .notes {
    overflow: hidden;
    line-clamp: 2;

    // backwards compatibility hack
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .lexeme {
    grid-column: span 2;
    font-weight: var(--font-weight-bold);
    overflow: hidden;
  }
  .translation {
    font-style: italic;
    grid-column: span 2;
  }
  .notes {
    grid-column: span 2;
    font-size: var(--font-size-0);
    opacity: var(--opacity-1);
    align-self: self-end;
  }

  .info {
    font-size: var(--font-size-0);
    place-self: end start;
    opacity: var(--opacity-1);
  }

  .last-guesses {
    place-self: end;
    display: grid;
    gap: var(--distance-1);

    .guesses {
      display: flex;
      gap: var(--distance-0);

      .right,
      .wrong {
        flex-direction: row;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: var(--col-primary);
      }

      .wrong {
        opacity: var(--opacity-0);
      }

      .right {
        opacity: var(--opacity-1);
      }
    }
  }
}

:host {
  &.small-text {
    .lexeme,
    .translation {
      font-size: var(--font-size-0);
    }
  }
  &.selected {
    border: 2px solid var(--col-primary);
  }
}
