<button
  class="silent toggle"
  [class.open]="isOpen()"
  (click)="toggle()"
  [disabled]="isFinished() || cardState() === 'editing'"
>
  <ng-icon [svg]="collapseIcon" size="50" class="icon" />
</button>

@if (isOpen() || isFinished()) {
  <div class="stats" animate.enter="enter" animate.leave="leave">
    <div class="wrapper">
      @if (!isFinished()) {
        <button class="big quit" (click)="quit.emit()">Quit</button>
        <button class="big edit" (click)="edit.emit()">
          @if (cardState() !== 'editing') {
            Edit notes
          } @else {
            Finish editing
          }
        </button>
      } @else {
        <button class="big wide" (click)="quit.emit()">Finalize</button>
      }
    </div>
  </div>
}
