@use '../../../../../style/mixins.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  // display:;
  // place-items: stretch;
  // overflow: hidden;
}
.header-section {
  display: flex;
  justify-content: center;
  padding-top: var(--distance-5);

  form {
    display: grid;
    grid-template-rows: 1fr auto;
    width: var(--medium-width);
    gap: var(--distance-4);

    .image-input,
    textarea {
      grid-area: 1 / 1;
    }

    textarea {
      background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
      border: 2px solid var(--col-accent);
    }
    .image-input {
      display: grid;
      place-self: end end;
      place-items: stretch;

      input,
      label {
        width: var(--distance-7);
        height: var(--distance-7);
        padding: 0;
        border-radius: var(--radius-1);
        grid-area: 1 / 1;
        cursor: pointer;
      }

      input {
        overflow: hidden;
        opacity: 0;
      }
      label {
        display: grid;
        place-items: center;
        outline: 0px solid transparent;
        transition: outline var(--duration-0);
      }
      input:focus-visible + label {
        outline: 4px solid rgb(from var(--col-primary) r g b / var(--opacity-1));
      }
    }
  }
}

.proposal {
  display: grid;
  grid-template-columns: var(--grid-auto-columns);
  gap: var(--distance-4);

  app-learnable-comp {
    &.fly-in-y-wide {
      animation-delay: var(--anim-delay);
    }
  }
}

@include isDesktop() {
  form {
    padding-top: 10vh;
    height: 400px;
  }
}
@include isPhone() {
  form {
    height: 60vh;
  }
}
