@use '../../../../../style/mixins.scss' as *;

.header-section {
  display: flex;
  justify-content: center;
  padding: var(--distance-5) 0;

  form {
    display: grid;

    grid-template-rows: 1fr auto;
    width: var(--medium-width);
    gap: var(--distance-4);
    .image,
    textarea {
      grid-area: 1 / 1;
    }
    .image {
      place-self: end end;
      padding: var(--distance-4);
    }
    .type {
    }
  }
}

@include isDesktop() {
  form {
    padding-top: 10vh;
    height: 400px;
  }
}
@include isPhone() {
  form {
    height: 40vh;
  }
}
