<div class="header-section">
  <form [formGroup]="form" (ngSubmit)="translate()">
    @if (imagePreview(); as img) {
      <div class="image-preview">
        <img [src]="img" alt="Preview" />
      </div>
      <button type="button" class="small delete">Remove Image</button>
    }
    <textarea
      placeholder="Paste notes, articles, or any other text here and press Generate"
      formControlName="text"
    ></textarea>
    <div class="image-input">
      <input
        id="image"
        type="file"
        accept="image/*;capture=camera"
        (change)="onFileChange($event)"
      />
      <label for="image">
        <app-icon-comp type="image" [size]="32" />
      </label>
    </div>
    <app-radio-comp
      label="Type"
      [config]="[
        { value: 'word', label: 'Words' },
        { value: 'phrase', label: 'Phrases' },
        { value: 'both', label: 'Both' }
      ]"
      formControlName="type"
      class="type"
    />
    <button type="submit">Generate</button>
  </form>
</div>

<div class="proposal">
  <h2 class="indent">Proposed Cards</h2>
  @for (cardVM of proposedCards(); track cardVM) {
    <app-learnable-comp
      class="fly-in-y-wide"
      [learnable]="cardVM.item"
      [style.animationDelay.s]="cardVM.animDelay"
    />
  }
</div>
