:host {
  display: grid;
  transition-property: grid-template-columns;
  grid-template-columns: 0fr 2fr;

  .back {
    background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
    overflow: hidden;
    padding: 0;

    &[disabled] {
      opacity: 0;
      color: transparent;
    }
  }

  &:not(:has(.back[disabled])) {
    grid-template-columns: 1fr 2fr;

    .back {
      margin-right: var(--distance-4);
    }
  }
}

:host,
.back {
  transition-duration: var(--duration-1);
  transition-timing-function: var(--soft-ease);
}
