:root {
  --overshot: linear(
    0,
    0.0346 2.07%,
    0.14066 4.43%,
    0.93834 16.722%,
    1.07743 20.432%,
    1.14934 24.312%,
    1.16294 26.953%,
    1.15356 29.933%,
    1.01677 43.094%,
    0.9766 50.995%,
    0.97488 57.056%,
    1.00329 76.878%,
    0.99996
  );

  --soft-ease: cubic-bezier(0.322, 0.582, 0.006, 0.987);

  --stagger: 0.1s;
}
@for $i from 0 through 12 {
  .fly-in-y-#{$i} {
    animation: fly-in-y var(--duration-3) var(--overshot) backwards;
    animation-delay: calc(var(--stagger) * #{$i});
  }

  .fly-in-x-#{$i} {
    animation: fly-in-x var(--duration-2) var(--overshot) backwards;
    animation-delay: calc(var(--stagger) * #{$i});
  }

  .fly-in-x-rev-#{$i} {
    animation: fly-in-x-rev var(--duration-2) var(--overshot) backwards;
    animation-delay: calc(0.05s * #{$i});
  }

  .fly-in-xy-#{$i} {
    animation: fly-in-xy var(--duration-3) var(--overshot) backwards;
    animation-delay: calc(var(--stagger) * #{$i});
  }
}

@keyframes fly-in-y {
  from {
    opacity: 0;
    translate: 5px 30px;
  }
}

@keyframes fly-out-y {
  to {
    opacity: 0;
    translate: 0px 20px;
  }
}

.fly-out-y {
  animation: fly-out-y var(--duration-1) ease-out;
}

@keyframes fly-in-x {
  from {
    opacity: 0;
    translate: 20px 0px;
  }
}

@keyframes fly-in-x-rev {
  from {
    opacity: 0;
    translate: -20px 0px;
  }
}

@keyframes fly-in-xy {
  from {
    opacity: 0;
    translate: 60px 10px;
  }
}

.fly-out-xy {
  animation: fly-out-xy var(--duration-0) ease-out;
}

@keyframes fly-out-xy {
  to {
    opacity: 0;
    translate: 30px 5px;
  }
}

@keyframes fly-out-x {
  to {
    opacity: 0;
    translate: 10px 0px;
  }
}

.fly-out-x {
  animation: fly-out-x var(--duration-1) ease-out;
}

.fly-in-y-wide {
  animation: fly-in-y-wide var(--duration-2) var(--soft-ease) both;
}

.fly-out-y-wide {
  animation: fly-out-y var(--duration-1) ease-in both;
  animation-direction: reverse;
}

.fly-in-x-wide {
  animation: fly-in-x-wide var(--duration-2) var(--overshot) both;
}

@keyframes fly-in-y-wide {
  from {
    opacity: 0;
    translate: 0 40px;
  }
}

@keyframes fly-in-x-wide {
  from {
    opacity: 0;
    translate: -20px;
  }
}

@keyframes bd-appear {
  from {
    opacity: 0;
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
}

// Enter/leave animations
.enter,
.leave {
  display: grid;

  .wrapper {
    overflow: hidden;
  }
}
.enter {
  animation: enter var(--duration-2) ease-out;
}
.leave {
  animation: leave var(--duration-2) ease-out;
}

@keyframes enter {
  from {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    grid-template-rows: 0fr;
  }

  50% {
    opacity: 0;
    grid-template-rows: 1fr;
  }
  to {
    opacity: 1;
  }
}

@keyframes leave {
  from {
    opacity: 1;
    grid-template-rows: 1fr;
  }
  30% {
    grid-template-rows: 1fr;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    grid-template-rows: 0fr;
  }
}
