@for $i from 0 through 8 {
  .p-#{$i} {
    padding: var(--distance-#{$i});
  }
  .pb-#{$i} {
    padding-bottom: var(--distance-#{$i});
  }
  .pt-#{$i} {
    padding-top: var(--distance-#{$i});
  }
  .px-#{$i} {
    padding-left: var(--distance-#{$i});
    padding-right: var(--distance-#{$i});
  }
  .py-#{$i} {
    padding-top: var(--distance-#{$i});
    padding-bottom: var(--distance-#{$i});
  }

  .m-#{$i} {
    margin: var(--distance-#{$i});
  }
  .mb-#{$i} {
    margin-bottom: var(--distance-#{$i});
  }
  .mt-#{$i} {
    margin-top: var(--distance-#{$i});
  }
  .mx-#{$i} {
    margin-left: var(--distance-#{$i});
    margin-right: var(--distance-#{$i});
  }
  .my-#{$i} {
    margin-top: var(--distance-#{$i});
    margin-bottom: var(--distance-#{$i});
  }
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}
