@use './mixins';

.page {
  box-sizing: border-box;
  overflow: clip;
  max-width: 100vw;
  padding: var(--distance-5);

  @include mixins.isPhone() {
  }

  @include mixins.isDesktop() {
    &.mid {
      align-self: start;
      justify-self: center;
      width: 100%;
      max-width: var(--max-width);
    }
    &.full {
      width: 100vw;
      height: var(--app-height);
    }
  }
}
