@use './mixins.scss' as *;

form.modal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: var(--distance-6);
  box-sizing: border-box;
  gap: var(--distance-6) var(--distance-4);
  height: 100%;
  max-height: var(--app-height);
  overflow: hidden;

  h2 {
    line-height: 42px;
    grid-column: span 2;
    place-self: center;
    text-align: center;
  }
  .full {
    grid-column: span 2;
  }
}

button.icon,
a.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--distance-2);

  app-icon-comp {
    height: var(--font-size-1);
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.word-list-item:not(:last-of-type):after {
  opacity: var(--opacity-1);
  content: ' • ';
}

.stacked-shadow {
  box-shadow:
    3px 3px rgb(from var(--col-text) r g b / 0.02),
    6px 6px rgb(from var(--col-text) r g b / 0.02);
}

// scrollable lists
.caroussel-wrapper {
  display: grid;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  gap: var(--distance-4);

  .caroussel-item {
    scroll-snap-align: start;
  }

  @include isDesktop {
    grid-auto-columns: 300px;
    padding: 0 var(--distance-4);
    scroll-padding-left: var(--distance-4);
    scrollbar-width: thin;
  }

  @include isPhone {
    scroll-padding-left: var(--distance-5);
    padding: 0 var(--distance-5);
    margin: 0 calc(-1 * var(--distance-5));
    grid-auto-columns: 100%;
    scrollbar-width: none;
  }
}
