@use './mixins' as *;

.caroussel-wrapper {
  display: grid;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  gap: var(--distance-4);
  position: relative;

  .caroussel-item {
    scroll-snap-align: start;
  }

  @include isDesktop {
    grid-auto-columns: 300px;
    scroll-padding-left: var(--page-padding);
    scrollbar-width: thin;

    mask-image: linear-gradient(
      to right,
      transparent 0%,
      var(--col-bg) var(--page-padding),
      var(--col-bg) calc(100% - var(--page-padding)),
      transparent 100%
    );
  }

  padding: 0 var(--page-padding);
  margin: 0 calc(-1 * var(--page-padding));
  @include isPhone {
    scroll-padding-left: var(--page-padding);
    grid-auto-columns: 100%;
    scrollbar-width: none;
  }
}

// fill-width-scrollable
.full-width-scroll {
  @include isPhone {
    padding: 0 var(--page-padding);
    margin: 0 calc(-1 * var(--page-padding));
    scrollbar-width: none;
  }
}
