@use './mixins' as *;

.caroussel-wrapper,
.full-width-scroll {
  padding: var(--distance-3) var(--page-padding);
  margin: calc(-1 * var(--distance-3)) calc(-1 * var(--page-padding));
}

// makes lists horizontally scrollable, snaps their position on item start
// responsively makes the items
// On Mobile:
//  - items are 100% wrapper width
// On Desktop
//  - dynamic shadow is applied on scrolling side on wich the items overflow
.caroussel-wrapper {
  display: grid;
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  position: relative;
  scroll-padding-left: var(--page-padding);
  scrollbar-width: none;

  .caroussel-item {
    scroll-snap-align: start;
  }

  @include isDesktop {
    gap: var(--distance-6);
    grid-auto-columns: 380px;

    mask-image: linear-gradient(
      to right,
      rgb(0, 0, 0, var(--opacity-0)) 0%,
      var(--col-bg) var(--page-padding),
      var(--col-bg) calc(100% - var(--page-padding)),
      rgb(0, 0, 0, var(--opacity-1)) 100%
    );
  }

  @include isPhone {
    gap: var(--distance-4);
    grid-auto-columns: 100%;
  }
}

// fill-width-scrollable
.full-width-scroll {
  @include isPhone {
    scrollbar-width: none;
    overflow-x: auto;
  }
}
