body,
input,
button,
a,
h1,
h2,
h3,
textarea {
  font-family: 'Trebuchet MS', sans-serif;
  color: var(--col-text);
}

p {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  margin: 0;

  &.size-0 {
    font-size: var(--font-size-0);
    line-height: var(--line-height-0);
  }

  &.size-2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
  }

  &.size-3 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
  }

  &.light {
    opacity: var(--opacity-1);
  }
}

h1 {
  margin: 0;
}

h2,
.h2 {
  margin: var(--distance-6) 0 var(--distance-4) 0;
  line-height: var(--font-size-3);
  font-size: var(--font-size-2);

  &.indent {
    margin: var(--distance-6) 0 var(--distance-3) var(--distance-3);
  }

  &.first {
    margin-top: 0;
  }
}

textarea {
  padding: var(--distance-4);
  line-height: 24px;
  resize: none;
}

strong {
  font-weight: var(--font-weight-bold);
  color: var(--col-primary);
}

a {
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}
