@use '../../../../../style/mixins' as *;

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: var(--font-weight-bold);

  .count {
    font-weight: var(--font-weight-bold);
    font-size: 130px;
    line-height: 110px;
  }
}

[type='submit'] {
  box-shadow: var(--shadow-big);
}

@include isDesktop {
  [swiper-top] {
    display: grid;
    grid-template: repeat(4, auto) / auto 1fr 1fr;
    gap: var(--distance-2) var(--distance-4);

    .counter {
      position: relative;
      grid-area: 1 / 1 / 5 / 2;
      place-self: stretch;
      padding-right: calc(var(--distance-4) * 2);
      margin-right: var(--distance-4);

      &:after {
        content: '';
        rotate: -2deg;
        border-right: 2px solid var(--col-accent);
        height: 100%;
        opacity: var(--opacity-1);
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    liz-confidence-dots {
      grid-area: 1 / 2 / 2 / 4;
      padding-bottom: var(--distance-1);
    }

    .full {
      grid-column: span 2;
    }
  }
}

@include isPhone {
  [swiper-top] {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: var(--distance-2);

    liz-confidence-dots {
      padding: var(--distance-4);
    }

    .counter {
      place-self: center;
    }
  }
}
