@use '../../../../../style/mixins.scss' as *;

:host {
  display: flex;
  gap: var(--distance-4);
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: var(--distance-2);
}

app-icon-comp {
  width: var(--line-height-1);
  height: var(--line-height-1);
}

.pseudo-select,
.all {
  position: sticky;
  left: 0;
  backdrop-filter: blur(20px);
  z-index: 2;
}

.pseudo-select,
select {
  display: grid;
  place-items: center;
  border-radius: var(--radius-2);
  height: 38px;
  width: 38px;
  aspect-ratio: 1 / 1;
}

.chip {
  display: flex;
  gap: var(--distance-2);
  place-items: center;
  background-color: var(--col-accent);
  background-color: rgb(from var(--col-accent) r g b / var(--opacity-1));
  white-space: nowrap;
  border-radius: var(--radius-2);
  font-weight: var(--font-weight-bold);
  background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);

  padding: var(--distance-2) var(--distance-5);

  &.delete {
    background-color: rgb(from var(--col-warning) r g b / var(--opacity-0));
  }

  &.icon-only {
    padding: var(--distance-2) var(--distance-4) var(--distance-2) var(--distance-5);
  }

  &.all {
    gap: var(--distance-1);
    padding: var(--distance-2) var(--distance-4) var(--distance-2) var(--distance-2);

    .chevron {
      rotate: -90deg;
    }
  }
}

.pseudo-select {
  background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));

  app-icon-comp,
  select {
    grid-area: 1 / 1;
  }

  app-icon-comp {
    rotate: -180deg;
  }

  select {
    z-index: 2;
    padding: 0;
    color: transparent;
    background-color: transparent;
  }
}

@include isPhone() {
  :host {
  }
  .chip {
    // flex: 1;
  }
}

@include isDesktop() {
  .chip {
    // padding: 0 var(--distance-5);
  }
}
