:host {
  display: flex;
  gap: var(--distance-4);
  margin-bottom: var(--distance-4);
}

button.small {
  white-space: nowrap;
}

.pseudo-select,
select,
button.icon-only,
button.chip {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-1);
  padding: 0;
}

// collection selected

.chip {
  flex: 0 1 80px;
  background-color: var(--col-accent);
  &.delete {
    background-color: var(--col-warning);
  }
}

// no collection selected
.collections {
  display: flex;
  flex: 1;
  overflow-x: auto;
  scrollbar-width: none;
  gap: var(--distance-4);
  border-radius: var(--radius-1);
}

button.icon-only.filter {
  margin-left: auto;
}

.pseudo-select {
  background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));

  app-icon-comp,
  select {
    grid-area: 1 / 1;
  }

  app-icon-comp {
    rotate: -180deg;
  }

  select {
    z-index: 2;
    padding: 0;
    color: transparent;
    background-color: transparent;
  }
}
