@use './../../../../style/mixins.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 100%;
  box-sizing: border-box;
  transform-origin: top left;

  // accomondates for page-padding
  padding-bottom: var(--distance-4);

  h1 {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--distance-1);
    word-break: break-word;
    font-size: var(--font-size-4);
  }
  a {
    display: flex;
    align-items: center;

    span,
    .icon {
      transition: translate var(--duration-1);
    }

    .icon {
      rotate: -90deg;
    }

    &:hover,
    &:focus-visible {
      span {
        translate: calc(-1 * var(--distance-1));
      }
      .icon {
        translate: calc(-1 * var(--distance-2));
      }
    }
  }
}

@include isPhone() {
  :host {
    width: 100%;
    place-items: center;
    height: 250px;
    text-align: center;
  }
}

@include isDesktop() {
  :host {
    height: 150px;

    margin: var(--distance-7) 0 var(--distance-6) 0;
    white-space: nowrap;
    transform: rotate(-6deg);
  }
}
