@use './../../../../style/mixins.scss' as *;

:host {
  display: grid;
  max-width: 100%;
  box-sizing: border-box;
  transform-origin: top left;
  padding-bottom: var(--distance-4);

  h1 {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--distance-1);
    word-break: break-word;
    font-size: var(--font-size-4);
  }
  a {
    display: inline-flex;
    align-items: center;
    .icon {
      rotate: -90deg;
    }
  }
}

@include isPhone() {
  :host {
    width: 100%;
    place-items: center;
    margin: var(--distance-7) 0;
    text-align: center;
  }
}

@include isDesktop() {
  :host {
    transform-origin: top left;

    margin: var(--distance-4) 0 var(--distance-6) 0;
    white-space: nowrap;
    transform: rotate(-6deg) translateX(calc(-1 * var(--distance-5)));
  }
}
