@use './../../../../style/mixins.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;

  max-width: 100%;
  box-sizing: border-box;
  transform-origin: top left;

  .full-width-scroll {
    display: flex;
  }

  h1 {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--distance-2);

    word-break: keep-all;
    white-space: nowrap;
    line-height: var(--line-height-4);
    font-size: var(--font-size-4);
  }
  a {
    display: flex;
    align-items: center;
    z-index: 2;

    span,
    .icon {
      transition: translate var(--duration-1);
    }

    .icon {
      rotate: -90deg;
    }

    &:hover,
    &:focus-visible {
      span {
        translate: calc(-1 * var(--distance-1));
      }
      .icon {
        translate: calc(-1 * var(--distance-2));
      }
    }
  }
}

@include isPhone() {
  :host {
    width: 100%;
    place-items: center;
    text-align: center;
  }
}

@include isDesktop() {
  :host {
    padding-left: var(--distance-7);
    white-space: nowrap;
  }
}
