@use '../../../../../style/mixins' as *;

.translate {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;

  .separator {
    display: flex;
    height: 0px;
    transition-property: opacity, width;
    align-items: center;
    width: 100%;
    gap: var(--distance-4);
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    button {
      opacity: var(--opacity-1);
    }

    .line {
      flex: 1;
      border-top: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
    }
  }

  textarea,
  .translation,
  .separator {
    // height animations
    transition-duration: var(--debounce-duration);
    transition-timing-function: var(--soft-ease);
  }

  .translation span {
    // opacity animation
    transition-duration: var(--debounce-duration);
  }

  textarea,
  .translation span {
    padding: var(--distance-5) 0;
  }

  textarea,
  .translation {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    scrollbar-width: none;
  }

  textarea {
    transition-property: height;
    font-weight: var(--font-weight-bold);
    border-radius: 0px;
    min-height: calc(var(--line-height-3) + var(--distance-5) + var(--distance-5));
  }

  .translation {
    transition-property: height;
    font-style: italic;
    overflow: hidden;
    .switch {
      position: absolute;
    }

    span {
      display: block;
      transition-property: opacity;
    }
  }

  &.show-translation {
    .translation span,
    .separator {
      transition-delay: var(--debounce-duration);
      opacity: 1;
    }
  }

  &:not(.show-translation) {
    .translation {
      transition-delay: var(--debounce-duration);
      span {
        opacity: 0;
      }
    }
  }

  &:not(.small-text) {
    textarea,
    .translation {
      font-size: var(--font-size-3);
      line-height: var(--line-height-3);
      text-align: center;
    }
  }
  &.small-text {
    textarea,
    .translation {
      text-align: left;
      font-size: var(--font-size-1);
      line-height: var(--line-height-1);
    }
  }
}

@include isPhone() {
  .translate {
    height: 40vh;

    min-height: 300px;
  }
}
@include isDesktop() {
  .translate {
    height: 50vh;
    min-height: 350px;
  }
}
