@use '../../../../../../style/mixins' as *;

:host {
  flex-direction: column;
  text-align: center;
  position: relative;
  color: var(--col-text);
}

.hints {
  display: grid;
  place-items: center;

  ng-icon {
    grid-area: 1 / 1;
    display: block;
  }

  .tap {
    font-size: 120px;
  }

  .swipe {
    font-size: 140px;

    --offset-x: -57px;
    --offset-y: 0px;
    --rotate: -10deg;

    &.right {
      transform: rotate(var(--rotate)) scaleX(-1) translate(var(--offset-x), var(--offset-y));
    }
    &.wrong {
      transform: rotate(calc(-1 * var(--rotate))) translate(var(--offset-x), var(--offset-y));
    }
  }

  .guess {
    font-size: 40px;

    --offset-x: 34px;
    --offset-y: 48px;

    &.right {
      transform: translate(var(--offset-x), var(--offset-y));
    }

    &.wrong {
      transform: translate(calc(-1 * var(--offset-x)), var(--offset-y));
    }
  }
}

:host {
  transition-property: scale, opacity;
  transition-timing-function: var(--overshot);
  transition-duration: var(--duration-3);
  transition-delay: 1s;

  @starting-style {
    scale: 0.5;
    opacity: 0;
  }

  &.hints-leave {
    transition-duration: var(--duration-0);

    transition-timing-function: ease-in;

    transition-delay: 0s;

    scale: 0.8;
    opacity: 0;
  }
}
