:host {
  text-align: center;
  color: var(--col-primary);
  //   opacity: var(--opacity-1);
}

.label {
  text-shadow: 0 5px 13px var(--col-shadow);
}

.hints {
  display: grid;
  place-items: center;

  ng-icon {
    filter: drop-shadow(3px 10px 15px rgb(from var(--col-shadow) r g b / var(--opacity-1)));

    grid-area: 1 / 1;
    display: block;
  }

  .swipe {
    font-size: 140px;

    --offset-x: -57px;
    --offset-y: 0px;
    --rotate: -10deg;

    &.right {
      transform: rotate(var(--rotate)) scaleX(-1) translate(var(--offset-x), var(--offset-y));
    }
    &.wrong {
      transform: rotate(calc(-1 * var(--rotate))) translate(var(--offset-x), var(--offset-y));
    }
  }

  .guess {
    font-size: 40px;

    --offset-x: 34px;
    --offset-y: 48px;

    &.right {
      transform: translate(var(--offset-x), var(--offset-y));
    }

    &.wrong {
      transform: translate(calc(-1 * var(--offset-x)), var(--offset-y));
    }
  }
}
