:host {
  display: contents;
}
.quick-link {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: var(--radius-2);
  padding: var(--distance-3) 60px var(--distance-3) var(--distance-6);
  overflow: hidden;
  min-width: max-content;

  &:not(.stats) {
    background-color: rgb(from var(--col-primary) r g b / var(--opacity-0));
  }

  &.stats {
    background-color: rgb(from var(--col-accent-2) r g b / var(--opacity-0));
  }

  app-icon-comp {
    position: absolute;
    right: -10px;
    top: -20px;
    width: 60px;
    height: 60px;
    opacity: var(--opacity-1);
  }
}
