@use '../../../../style/mixins.scss' as *;

.sections {
  display: grid;
  gap: var(--distance-5);
  section {
    display: grid;
    min-width: 0px;
    box-sizing: border-box;
  }
}

@include isDesktop {
  .sections {
    grid-template-columns: 1fr 1fr;

    section {
      display: grid;
      grid-template-rows: auto 1fr;
      overflow: hidden;

      &.wide {
        grid-column: span 2;
      }
    }
  }
}

@include isPhone {
  .sections {
    grid-template-columns: 1fr;
  }
}
