<app-page-header-comp title="Home" />
<app-page-icon-comp type="dashboard" />
<a routerLink="/practice">Practice</a>

SHow those presets: - 'Continue Ongoing' - 'Pracice by room for improvement', - 'Practice by
collecion' - 'Practice newest Cards', - practice 'Spaced repetition review',
<a routerLink="/cards">Cards</a>
show here: - All cards card with this info on it: (Number of cards, number of cards without
collection, average confidence) - collections with number of cards in each, and average confidence )

<a routerLink="/community">Community</a>
Show preview of top 5 community for current language pair

<a routerLink="stats">Statistics</a>
Show timeline of recent activity Show progress towards goals
