<app-page-wrapper icon="dashboard" [icon]="bookIcon">
  <app-page-header-comp title="Home" />
  @if (bankHasCards()) {
    <div class="sections">
      <section class="quick-links full-width-scroll">
        <liz-quick-links [types]="['translate', 'generate', 'stats']" />
      </section>

      <section class="quick-actions">
        <app-header-link label="Practice" route="practice" />
        <div class="caroussel-wrapper">
          <app-practice-quick-actions />
        </div>
      </section>
      <section class="quick-actions">
        <app-header-link label="My Collections" route="cards" />
        <div class="caroussel-wrapper">
          <app-cards-quick-selector />
        </div>
      </section>
      <section class="quick-actions">
        <app-header-link label="Community Banks" route="community" />
        <div class="caroussel-wrapper">
          @if (sharedBanks.hasValue()) {
            @if (sharedBanks.value().length > 0) {
              @for (bank of sharedBanks.value(); track bank.id) {
                <a
                  class="caroussel-item"
                  liz-cards-stack
                  outline
                  [routerLink]="['/community/bank', bank.id]"
                >
                  <app-shared-bank-comp [bank]="bank" />
                </a>
              }
            } @else {
              <liz-info-card title="No shared banks available">
                <p>
                  Banks will appear as soon as other users share banks with your language pairing.
                </p>
              </liz-info-card>
            }
          } @else if (sharedBanks.error()) {
            <liz-info-card title="Error loading Banks" type="warn">
              <p>
                Either larry is having a bad day or your internet is down. Either way, please try
                again later.
              </p>
            </liz-info-card>
          }
        </div>
      </section>
    </div>
  } @else {
    <liz-info-card title="Add cards to start learning" fullPage>
      <p>
        Find a bank to learn in the community section, import cards from your translation history or
        create your own.
      </p>
      <div class="quick-links pt-4">
        <liz-quick-links [types]="['create', 'community', 'translate', 'generate']" />
      </div>
    </liz-info-card>
  }
</app-page-wrapper>
