@use '../../../../style/mixins.scss' as *;

.sections {
  display: flex;
  flex-direction: column;
  gap: var(--distance-6);

  .quick-links {
    display: flex;
    gap: var(--distance-4);
    overflow-x: auto;
  }
}
liz-info-card .quick-links {
  display: grid;
  gap: var(--distance-3);
}

@include isDesktop {
  liz-info-card .quick-links {
    grid-template-columns: 1fr 1fr;
  }
}
@include isPhone {
  liz-info-card .quick-links {
    grid-template-columns: 1fr;
    place-items: stretch;
  }
}
