@use '../../../../style/mixins.scss' as *;

a {
  display: flex;
  align-items: center;

  h2,
  ng-icon,
  .text {
    transition: translate var(--duration-1);
  }

  h2 {
    display: block;
    margin: 0;
  }

  &:not(.eyebrow) {
    gap: var(--distance-1);
    margin: 0 var(--distance-2) var(--distance-3) var(--distance-3);

    ng-icon {
      rotate: -90deg;
      font-size: 24px;
    }

    &:hover,
    &:focus-visible {
      ng-icon {
        translate: var(--distance-2);
      }
      h2 {
        translate: var(--distance-1);
      }
    }
  }

  &.eyebrow {
    font-weight: var(--font-weight-bold);
    gap: var(--distance-0);
    opacity: var(--opacity-1);

    ng-icon {
      rotate: 90deg;
      font-size: 20px;
    }

    &:hover,
    &:focus-visible {
      ng-icon {
        translate: calc(-1 * var(--distance-2));
      }

      .text {
        translate: calc(-1 * var(--distance-1));
      }
    }
  }
}
