:host {
  margin: 0 calc(var(--distance-4) * -1);
  display: flex;
  gap: var(--distance-3);
  scrollbar-width: none;
  overflow-x: auto;
  padding: var(--distance-2) var(--distance-4);

  button,
  a {
    white-space: nowrap;
    color: var(--col-bg);
    border-radius: var(--radius-2);
  }

  select {
    height: var(--distance-6);
    border-radius: var(--radius-2);
  }

  button,
  a {
    padding: var(--distance-1) var(--distance-5);
    background-color: var(--col-accent);
    color: var(--col-text);

    &.delete {
      background-color: rgb(from var(--col-warning) r g b / var(--opacity-1));
    }
  }

  button,
  a {
    box-sizing: border-box;
    height: var(--distance-6);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-0);
  }

  button.fake-select {
    background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
  }
}

.select-wrapper {
  display: block;
  position: relative;
  border-radius: var(--radius-2);
  transition: background-color var(--duration-0);
  background-color: rgb(from var(--col-accent) r g b / var(--opacity-1));

  app-icon-comp {
    border-radius: var(--radius-2);
    position: absolute;

    top: 1px;
    left: 0;
    rotate: -180deg;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: grid;
    place-items: center;
    transition: all var(--duration-3) var(--overshot);
  }

  select {
    width: var(--distance-6);
    color: transparent;
    background-color: transparent;
  }
}
