<app-page-wrapper [icon]="practiceIcon" fullScreen>
  <div class="views">
    <liz-swiper-page-layout>
      <liz-swiper swiper-full />
    </liz-swiper-page-layout>
    @if (currentPractice(); as practice) {
      @if (isOngoing()) {
        <liz-swiper-page-layout>
          <liz-swiper-nav swiper-navigation />
        </liz-swiper-page-layout>
      } @else {
        <liz-swiper-summary [practice]="practice" (finish)="finish()" swiper-full />
      }
    } @else {
      <app-configure-practice-comp />
    }
  </div>
</app-page-wrapper>
