@use '../../../../style/mixins' as *;

.views {
  display: grid;
  height: 100%;
  place-items: stretch;
  liz-swiper-page-layout,
  liz-swiper-summary,
  app-configure-practice-comp {
    grid-area: 1 / 1;
    z-index: 21;
  }
}

@include isDesktop {
  liz-swiper {
    width: 600px;
    height: 400px;
  }
}

.fly-in-y-wide-rev {
  animation: fly-in-y-wide-rev var(--duration-0) both;
}

@keyframes fly-in-y-wide-rev {
  to {
    opacity: 0;
    translate: 0 40px;
  }
}
