@use '../../../../style/mixins.scss' as *;

:host {
  display: flex;
  align-items: end;
  gap: var(--distance-2);
  overflow-x: scroll;
  scrollbar-width: none;
  width: 100%;
}

.item.date-label {
  position: relative;
  height: 100%;
  min-width: 4px;
  background-color: rgb(from var(--col-accent-2) r g b / var(--opacity-0));
  border-radius: var(--radius-0);

  .label {
    opacity: var(--opacity-1);
    position: absolute;
    bottom: 0;
    left: var(--distance-4);
    white-space: nowrap;
  }
}

.item.indicator {
  box-sizing: border-box;
  margin-bottom: var(--line-height-2);
  height: calc(var(--guessed) / var(--max-guesses) * 100% - var(--line-height-2));
  border-radius: var(--radius-0);
  min-height: var(--distance-2);
  flex: 1;
  min-width: 50px;
  background-color: var(--col-accent-2);
  box-shadow: var(--shadow-medium);

  &.empty {
    opacity: var(--opacity-0);
  }
  &:not(.empty) {
    display: flex;
    justify-content: center;

    p {
      opacity: var(--opacity-1);
      color: var(--col-bg);
      font-weight: var(--font-weight-bold);

      &.inside {
        translate: 0 var(--distance-0);
      }
      &:not(.inside) {
        color: var(--col-accent-2);
        translate: 0 calc(-1 * (var(--line-height-1)));
      }
    }
  }
}
