@use '../../../../style/mixins.scss' as *;

:host {
  display: flex;
  align-items: end;
  height: 100px;
  gap: var(--distance-2);
  overflow-x: auto;
  scrollbar-width: none;
}

.day {
  height: calc(var(--guessed) / var(--max-guesses) * 100%);
  border-radius: var(--radius-0);
  min-height: var(--distance-2);
  flex: 1;
  min-width: 50px;
  background-color: var(--col-accent-2);
  box-shadow: var(--shadow-small);

  &.empty {
    opacity: var(--opacity-0);
  }
  &:not(.empty) {
    display: flex;
    justify-content: center;

    p {
      opacity: var(--opacity-1);
      color: var(--col-bg);
      font-weight: var(--font-weight-bold);

      &.inside {
        translate: 0 var(--distance-2);
      }
      &:not(.inside) {
        color: var(--col-accent-2);
        translate: 0 calc(-1 * (var(--line-height-1)));
      }
    }
  }
}

@include isPhone {
  :host {
    margin: 0 calc(var(--distance-5) * -1);
    padding: 0 var(--distance-5);
  }
}
