@let sum = summary();
@let hasOnlyOneColl = sum.collectionsCount > 1;
@let langMatch = languagesMatch();
@let animSize = 5 + (hasOnlyOneColl ? 1 : 0) + (langMatch ? 2 : 0);

<form (ngSubmit)="confirm(form.value)" class="modal" [formGroup]="form">
  <h2 class="full fly-in-y" [animDelay]="{ i: 0, size: animSize }">Import {{ bank().name }}?</h2>
  @if (hasOnlyOneColl) {
    <div class="preview full fly-in-y" [animDelay]="{ i: 1, size: animSize }">
      <h3>Collections</h3>
      <p>
        @for (coll of sum.previewCollections; track coll.id) {
          <span class="word-list-item">
            {{ coll.name }}
          </span>
        }
        @if (sum.collectionsCountHidden > 0) {
          <span class="word-list-item">{{ sum.collectionsCountHidden }} more</span>
        }
      </p>
    </div>
  }
  <div class="preview full fly-in-y" [animDelay]="{ i: 1, size: animSize }">
    <h3>Cards</h3>
    <p>
      @for (learnable of sum.previewCards; track learnable) {
        <span class="word-list-item">{{ learnable.translation }}</span>
      }
      @if (sum.cardsCountHidden > 0) {
        <span class="word-list-item">{{ sum.cardsCountHidden }} more</span>
      }
    </p>
  </div>

  @if (!langMatch) {
    <liz-info-card class="warning full fly-in-y" [animDelay]="{ i: 2, size: animSize }">
      <p>
        Your active Banks' languages and this shared Bank's languages are different. Would you like
        to merge the cards into your active Bank or create a new one?
      </p>
      <app-radio-comp
        class="fly-in-y"
        [animDelay]="{ i: 3, size: animSize }"
        formControlName="strategy"
        label="Strategy"
        [config]="[
          { value: 'merge', label: 'Merge' },
          { value: 'new', label: 'Add new Bank' }
        ]"
      />
    </liz-info-card>
  }

  <app-radio-comp
    class="fly-in-y"
    [animDelay]="{ i: 4, size: animSize }"
    formControlName="invertLanguageDirection"
    label="Strategy"
    [config]="[
      { value: 'merge', label: 'Merge' },
      { value: 'new', label: 'Add new Bank' }
    ]"
  />
  <button
    type="button"
    class="big fly-in-y"
    [animDelay]="{
      i: 5,
      size: animSize
    }"
    (click)="cancel()"
  >
    Cancel
  </button>
  <button
    type="submit"
    class="fly-in-y"
    [animDelay]="{
      i: 6,
      size: animSize
    }"
  >
    Import
  </button>
</form>
