form {
  grid-template-rows: 1fr auto;

  .header {
    place-self: center;
    text-align: center;

    .description {
      padding-top: var(--distance-4);
      opacity: var(--opacity-1);
    }
  }
}
