<form
  (ngSubmit)="confirm(form.value)"
  class="modal"
  [formGroup]="form"
  lizAnimDelayWrapper
  applyClass="fly-in-y"
>
  <div class="header full" #animItem>
    <h2>Import {{ bank().name }}</h2>

    <div class="description">
      @if (bank().collections.length > 1) {
        <span class="word-list-item"> {{ bank().collections.length }} collections</span>
      }
      <span class="word-list-item"> {{ bank().learnables.length }} cards</span>
    </div>
  </div>

  @if (!importLanguagesMatch()) {
    <liz-info-card type="warn" title="Language mismatch!" class="full" #animItem>
      @if (strategy() === 'merge') {
        <p>
          The languages do not align with your current bank, resulting in the following mapping:
        </p>

        <div class="mapping-wrapper">
          <div class="mapping-header">
            <p class="size-0 bold">Imported</p>
            <p class="size-0 bold">Current</p>
          </div>

          <div class="row">
            <ng-icon [svg]="icons.speakLanguageIcon" class="type" />
            <div>
              {{ importLangAfterImport().speaking }}
            </div>
            <ng-icon [svg]="icons.nextIcon" />
            <div>
              {{ activeBankLanguage().speaking }}
            </div>
          </div>

          <div class="row">
            <ng-icon [svg]="icons.learnLanguageIcon" class="understand type" />
            <div>
              {{ importLangAfterImport().learning }}
            </div>
            <ng-icon [svg]="icons.nextIcon" />
            <div>
              {{ activeBankLanguage().learning }}
            </div>
          </div>
        </div>
      } @else if (strategy() === 'new') {
        <p>
          The languages do not align with your current bank. The added bank will assume you
          <strong>speak {{ importLangAfterImport().speaking }}</strong>
          and want to
          <strong> learn {{ importLangAfterImport().learning }}. </strong>
        </p>
      }
    </liz-info-card>
  }

  <div class="controls full">
    <app-radio-comp
      #animItem
      formControlName="strategy"
      label="Import strategy"
      darkMode
      [config]="[
        { value: 'merge', label: 'Merge Banks' },
        { value: 'new', label: 'Add as new' }
      ]"
    />

    <app-radio-comp
      #animItem
      formControlName="invertLanguageDirection"
      darkMode
      label="Language direction"
      [config]="[
        { value: false, label: 'Keep' },
        { value: true, label: 'Invert' }
      ]"
    />
  </div>

  <button type="button" class="big" #animItem (click)="cancel()">Cancel</button>
  <button type="submit" #animItem>Import</button>
</form>
