@use '../../../../style/mixins.scss' as *;

.add-bank,
app-settings-item-comp {
  border: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
  border-radius: var(--radius-2);
  background-color: var(--col-bg);
}

h2.banks {
  display: flex;
  flex-direction: row;
  gap: var(--distance-2);
}

.delete {
  background-color: var(--col-warning);
}
.debug {
  display: flex;
  overflow-x: scroll;
  gap: var(--distance-3);

  button {
    min-width: 200px;
  }
}
.items {
  display: grid;
  gap: var(--distance-4);
  grid-template-columns: var(--grid-auto-columns);
}

@include isPhone() {
  .items {
    grid-template-columns: 1fr;
  }
}
