<app-page-wrapper icon="settings" [icon]="icons.settingsPageIcon">
  <app-page-header-comp title="Settings" />
  <h2 class="indent first">My Banks</h2>
  <div class="caroussel-wrapper">
    @for (bank of banks(); track bank.id) {
      <liz-cards-stack class="caroussel-item" outline>
        <app-bank-settings-card
          [bank]="bank"
          [isActive]="activeBankId() === bank.id"
          (setActive)="setActiveBank(bank.id)"
          (delete)="deleteBank(bank.id)"
          (download)="downloadBank(bank)"
          (edit)="editBank(bank)"
          (share)="shareBank(bank)"
        />
      </liz-cards-stack>
    }
    <button class="add-bank caroussel-item" (click)="createNewBank()">
      <span>Create new Bank</span>
      <ng-icon [svg]="icons.addIcon" />
    </button>
  </div>
  <h2 class="indent">General Settings</h2>
  <div class="items">
    <app-settings-item-comp header="AI Provider">
      <p class="description">
        Add your OpenAI API key here to use AI based features such as automatic creation of
        learnables.
      </p>
      <label class="input">
        <span> OpenAI API-key </span>
        <input type="password" [value]="apiKey()" (input)="updateKey($event)" />
      </label>
    </app-settings-item-comp>

    <app-settings-item-comp header="Reset">
      <p class="description">
        Delete all of your data from this device. Data you shared with the community will remain.
      </p>
      <button class="primary big delete input" (click)="reset()">Reset all data</button>
    </app-settings-item-comp>
    @if (isProduction === false) {
      <app-settings-item-comp header="Debug">
        <p class="description">For development purposes only.</p>
        <div class="input debug">
          <button class="primary small" (click)="triggerImportBankForm('single')">
            Trigger single bank import
          </button>
          <button class="primary small" (click)="triggerImportBankForm('multiple')">
            Trigger multi bank import
          </button>
          <button class="primary small" (click)="triggerImportBankForm('multiple', 'invert-match')">
            Trigger invert match import
          </button>
          <button class="primary small" (click)="triggerImportBankForm('multiple', 'no-match')">
            Trigger non match import
          </button>
          <button class="primary small" (click)="triggerImportBankForm('multiple', 'match')">
            Trigger match import
          </button>

          <button class="primary small" (click)="triggerExportBankForm()">
            Trigger export bank
          </button>
        </div>
      </app-settings-item-comp>
    }
  </div>
</app-page-wrapper>
