@use '../../../../style/mixins.scss' as *;

.add-bank,
app-bank-settings-card,
app-settings-item-comp {
  border: 1px solid rgb(from var(--col-text) r g b / var(--opacity-0));
  border-radius: var(--radius-2);
  background-color: var(--col-bg);
}

.add-bank {
  box-sizing: border-box;
  position: relative;
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  gap: var(--distance-2);
  padding: 0 var(--distance-6);
  overflow: clip;
  font-size: var(--font-size-1);

  span,
  app-icon-comp {
    grid-area: 1 / 1;
  }

  span {
    font-weight: bold;
    white-space: nowrap;
    translate: -30px;
  }

  app-icon-comp {
    translate: 100px;
    width: 200px;
    height: 200px;
    opacity: var(--opacity-0);
  }
}

.delete {
  background-color: var(--col-warning);
}
.debug {
  display: flex;
  flex-wrap: wrap;
  gap: var(--distance-3);
}
.items {
  display: grid;
  gap: var(--distance-4);
}

@include isDesktop() {
  .items {
    grid-template-columns: var(--grid-auto-columns-wide);
  }
}

@include isPhone() {
  .items {
    grid-template-columns: 1fr;
  }
}
