@use '../../../../../style/mixins' as *;

.sub-title {
  display: grid;
  position: relative;
  width: fit-content;
  app-practice-rating-comp {
    position: absolute;
    place-self: center;
    opacity: var(--opacity-1);
  }
}

.action-buttons {
  display: flex;
  gap: var(--distance-4);
  align-items: center;

  .separator {
    width: 100%;
    flex: 1;
    border-radius: 4px;
    height: 6px;
    min-width: 6px;
    opacity: var(--opacity-0);
    background-color: var(--col-accent);
  }

  button.remove {
    background-color: rgb(from var(--col-warning) r g b / var(--opacity-0));
  }
}

app-practice-rating-comp {
  position: absolute;
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
  right: 0;
  top: 0;
  opacity: var(--opacity-0);
  color: var(--col-bg);
}

.cards {
  display: grid;
  grid-template-columns: var(--grid-auto-columns);
  gap: var(--distance-4);

  &.sorted {
    padding-top: var(--distance-4);
  }
}
