<app-page-wrapper icon="card">
  <app-page-header-comp
    [title]="collection()?.name || 'All Cards'"
    backLink="/cards"
    backLinkText="Cards"
  >
    <div class="sub-title">
      <liz-confidence-stats [confidence]="confidence()" />
      <app-practice-rating-comp [confidence]="confidence().all" />
    </div>
  </app-page-header-comp>
  <div class="content">
    <div class="action-buttons full-width-scroll">
      <button class="action" (click)="practice()">
        Practice
        <app-icon-comp type="learn" class="icon" />
      </button>

      @if (collection(); as coll) {
        <button class="action" (click)="share()">
          Share
          <app-icon-comp type="share-network" class="icon" />
        </button>

        <button class="action" (click)="renameCollection(coll)">
          Edit
          <app-icon-comp type="edit" class="icon" />
        </button>
        <button class="action" (click)="export(coll.id)">
          Download
          <app-icon-comp type="share" class="icon" />
        </button>
        <button class="remove ml-auto" (click)="deleteCollection(coll)">
          Remove
          <app-icon-comp type="trash" class="icon" />
        </button>
      }
    </div>
    @if (sortedCards().length > 0) {
      <div class="cards sorted">
        @for (card of sortedCards(); track card.id) {
          <app-learnable-comp [learnable]="card" />
        }
      </div>
    }
    @if (unsortedCards().length > 0) {
      <h2 class="indent">Unsorted Cards</h2>
      <div class="cards">
        @for (card of unsortedCards(); track card.id) {
          <app-learnable-comp [learnable]="card" />
        }
      </div>
    }
  </div>
</app-page-wrapper>
