<app-bubbles>
  <app-bubble
    config="bulk-edit"
    size="big"
    (select)="bulkEdit()"
    [count]="selector.selected().size"
  />
  <app-bubble config="checkbox-multiple" size="medium" (select)="toggleAll()" />
  @if (!selector.isEmpty()) {
    <app-bubble config="move" [animateIndex]="1" (select)="addToCollection()" />
    @if (collection()) {
      <app-bubble config="remove" [animateIndex]="2" (select)="removeFromCollection()" />
    }
    <app-bubble config="trash" (select)="deleteSelection()" [animateIndex]="3" />
  }
</app-bubbles>

<app-page-wrapper>
  <liz-page-header-cards header [title]="collection()?.name ?? 'All cards'">
    <liz-confidence-stats [confidence]="confidence()" class="pb-0 text size-2" />
    @if (collection(); as coll) {
      <p class="light">{{ coll.createdAt | date: 'mediumDate' }}</p>
    }
    <app-practice-rating-comp [confidence]="confidence().all" />
  </liz-page-header-cards>
  <div class="content" lizAnimDelayWrapper applyClass="fly-in-y-wide">
    <div class="action-buttons full-width-scroll" #animItem>
      @let noSortedCards = sortedCards().length === 0;
      <button class="header-action" (click)="practice()" [disabled]="noSortedCards && collection()">
        Practice
        <ng-icon [svg]="icons.practicePageIcon" />
      </button>

      @if (collection(); as coll) {
        <button class="header-action" (click)="share()" [disabled]="noSortedCards">
          Share
          <ng-icon [svg]="icons.shareIcon" />
        </button>
        <button class="header-action" (click)="renameCollection(coll)">
          Edit
          <ng-icon [svg]="icons.editIcon" />
        </button>
        <button class="header-action" (click)="export(coll.id)" [disabled]="noSortedCards">
          Download
          <ng-icon [svg]="icons.downloadIcon" />
        </button>
        <div class="separator"></div>
        <button class="header-action remove ml-auto" (click)="deleteCollection(coll)">
          Remove
          <ng-icon [svg]="icons.removeIcon" />
        </button>
      }
    </div>
    @if (sortedCards().length > 0) {
      <div class="cards sorted">
        @for (card of sortedCards(); track card.id) {
          <button
            #animItem
            app-learnable-comp
            [learnable]="card"
            (click)="selector.toggle(card.id)"
            [isSelected]="selector.selected().has(card.id)"
          ></button>
        }
      </div>
    } @else if (collection()) {
      <p class="light bold my-7 center" #animItem>This collection is empty.</p>
    }
    @if (unsortedCards().length > 0) {
      <h2 class="indent fly-in-y-wide" #animItem>Loose Cards</h2>
      <div class="cards">
        @for (card of unsortedCards(); track card.id) {
          <button
            #animItem
            class="fly-in-y-wide"
            app-learnable-comp
            [learnable]="card"
            (click)="selector.toggle(card.id)"
            [isSelected]="selector.selected().has(card.id)"
          ></button>
        }
      </div>
    }
  </div>
</app-page-wrapper>
