<div class="vote-overlay">
  <ng-icon [svg]="icons.correctAnswerIcon" class="icon right" size="220" />
  <ng-icon [svg]="icons.incorrectAnswerIcon" class="icon wrong" size="220" />
</div>
@if (cardState() !== 'editing') {
  <div
    class="touch-area"
    (pointerdown)="pointerDown($event)"
    (pointermove)="pointerMove($event)"
    (pointerup)="pointerUp()"
  ></div>
}

@for (entry of cardViewModel(); track trackCard(entry)) {
  @if ('id' in entry.content) {
    <app-practice-card-comp
      class="card"
      [class]="'index-' + entry.viewIndex"
      [concealed]="entry.viewIndex > 0"
      [learnable]="entry.content"
      [allowEdit]="cardState() === 'editing' && entry.viewIndex === 0"
      [guessableField]="currentPractice().guessableField"
      (updateNotes)="updateNotes($event)"
    />
  } @else if (!('id' in entry.content)) {
    <app-practice-summary-card
      class="card"
      [concealed]="entry.viewIndex > 0"
      [class]="'index-' + entry.viewIndex"
      [summary]="entry.content"
    />
  }
}
<app-practice-stats-bar-comp
  [(isOpen)]="statsOpen"
  [cardState]="cardState()"
  [isFinished]="isFinished()"
  (edit)="editNote()"
  (quit)="quit()"
/>
