:host {
  display: grid;
  padding: var(--page-padding);
  gap: var(--page-padding);
  width: 100vw;
  box-sizing: border-box;
  max-height: var(--app-height);
  scroll-timeline: --main-timeline;

  .content {
    width: 100%;
    min-width: 0;
  }

  .header {
    position: sticky;
    top: 0;
    min-width: 0;
    animation: hide ease-out both;
    animation-range: 0px var(--headerHeight);
    animation-timeline: --main-timeline;
  }

  &:not(.full-screen) {
    overflow-x: auto;

    .content {
      justify-self: center;
      max-width: var(--max-width);
    }
  }

  &.full-screen {
    overflow: hidden;
    overscroll-behavior: none;
    height: var(--app-height);
  }
}

@keyframes hide {
  30% {
    scale: 0.95;
    opacity: 0.5;
  }

  to {
    scale: 0.95;
    translate: 0 calc(var(--headerHeight) / -2);
    opacity: 0;
  }
}
