@use '../../../../style/mixins' as *;

:host {
  display: grid;
  padding: var(--page-padding);
  gap: var(--page-padding);
  width: 100vw;
  box-sizing: border-box;

  height: var(--app-height);
  scroll-timeline: --main-timeline;

  // use 'none' if this doesnt fix it
  overscroll-behavior-y: contain;

  .content {
    width: 100%;
    min-width: 0;
    z-index: 10;
  }

  .header {
    position: sticky;
    top: 0;
    min-width: 0;
    animation: hide ease-out both;
    animation-range: 0px var(--header-height);
    animation-timeline: --main-timeline;
  }

  &:not(.full-screen) {
    overflow-x: hidden;
    grid-template-rows: auto 1fr;

    .content {
      justify-self: center;
      max-width: var(--max-width);
    }
  }

  &.full-screen {
    overflow: hidden;
    overscroll-behavior: none;
  }
}

@keyframes hide {
  20% {
    scale: 0.92;
    opacity: var(--opacity-1);
  }

  to {
    scale: 0.92;
    translate: 0 calc(var(--header-height) / -2);
    opacity: 0;
  }
}

@include isDesktop {
  .header {
    transform-origin: left;
  }
}
