@use '../../../../style/mixins' as *;

:host.cards-stack-wrapper,
:host .cards-stack-wrapper {
  font-size: inherit;
  text-align: inherit;

  display: grid;
  padding: var(--distance-4);

  position: relative;
  border-radius: var(--radius-2);
  box-sizing: border-box;

  &:after,
  &:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: var(--radius-2);
    background-color: var(--col-bg);
    z-index: -1;
  }

  &:before {
    transform-origin: top left;
    z-index: -1;
    top: calc(-1 * var(--distance-2));
    left: var(--distance-2);
    rotate: 3deg;
  }

  &.outline {
    &:after {
      box-sizing: border-box;
      border: 1px solid rgb(from var(--col-accent) r g b / var(--opacity-1));
    }
    &:before {
      background-color: var(--col-bg);
      border: 1px solid rgb(from var(--col-accent) r g b / var(--opacity-1));
      box-sizing: border-box;
    }
  }

  &:not(.outline) {
    &:before {
      background-color: rgb(from var(--col-accent) r g b / var(--opacity-1));
    }
    &:after {
      background-color: var(--col-accent);
    }
  }

  &:not(.community) {
    min-height: 200px;
  }
}

:host.header {
  display: flex;
  flex-direction: column;
  padding: var(--page-padding) 0 calc(var(--page-padding) * 2) 0;

  box-sizing: border-box;
  rotate: -4deg;
  transform-origin: top left;
  position: relative;

  .bg-wrapper {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    align-items: end;
    top: 0;
    left: 0;
  }
  .card-bg {
    grid-area: 1 / 1;
    z-index: -1;
    width: 140%;
    height: 130%;
    content: '';

    border-radius: var(--radius-2);
    box-sizing: border-box;

    &.two {
      width: 100%;
      translate: 0px 10px;
      rotate: 6deg;
      opacity: var(--opacity-1);
    }
  }

  &:not(.outline) .card-bg {
    background-color: var(--col-accent);
  }

  &.outline .card-bg {
    background-color: var(--col-bg);
    border: 1px solid rgb(from var(--col-accent) r g b / var(--opacity-1));
  }

  @include isDesktop {
    width: fit-content;
    min-width: 400px;
    margin-bottom: var(--distance-7);
    padding-bottom: var(--distance-7);
    padding-right: var(--distance-8);

    .card-bg {
      justify-self: end;
    }
  }
}
