:host {
  app-practice-rating-comp {
    position: absolute;
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    right: 0;
    top: 0;
    opacity: var(--opacity-0);
    color: var(--col-bg);
  }
}
